<script>
//小口届出チェック一覧から選択された小口届出チェックデータの詳細の表示処理
function notification_check_detail(a) {
    var user_division_cd = $('#user_division_cd').val();
    var user_department_cd = $('#user_department_cd').val();
    var user_authority = $('#user_authority').val();
    var confirm_user = $('#confirm_user').val();
    var permit_user = $('#permit_user').val();
    var level5_step_id = $('#level5_step_id').val();
    var new_step = Number(level5_step_id) + 1
    $('<form/>', {action: '/isk_tools/fms/parts/common/detail_template/', method: 'post'})
    .append($('<input/>', {type: 'hidden', name: 'notification_check_unique_id', value: a}))
    //.append($('<input/>', {type: 'hidden', name: 'notification_check_id', value: b}))
    .append($('<input/>', {type: 'hidden', name: 'target', value: 'notification_check'}))
    .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
    .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
    .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
    .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
    .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: level5_step_id}))
    .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 0}))
    .append($('<input/>', {type: 'hidden', name: 'copy_check', value: 0}))
    .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
    .appendTo(document.body)
    .submit();
}
</script>
<style type="text/css">
thead.scrollHead,tbody.scrollBody{
    display:block;
}
tbody.scrollBody{
    overflow-y:scroll;
    height:420px;
}
td,th{
    table-layout:fixed;
}
.detail_pb{
    width:57px;
    font-size: 120%;
    padding: 7px 0px;
    text-align: center;
}
.budget_id{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.budget_no{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.condition{
    width:140px;
    font-size: 120%;
    padding: 7px 0px;
}
.step{
    width:160px;
    font-size: 120%;
    padding: 7px 0px;
}
.next_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.business_year{
    width:60px;
    font-size: 120%;
    padding: 7px 0px;
}
.budget_name{
    width:340px;
    font-size: 120%;
    padding: 7px 0px;
}
.department{
    width:240px;
    font-size: 120%;
    padding: 7px 0px;
}
.construction_name{
    width:280px;
    font-size: 120%;
    padding: 7px 0px;
}
.order_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.desired_date{
    width:220px;
    font-size: 120%;
    padding: 7px 0px;
}
.plan_class{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.PM_class{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.process{
    width:190px;
    font-size: 120%;
    padding: 7px 0px;
}
.cost_center{
    width:190px;
    font-size: 120%;
    padding: 7px 0px;
}
.rem{
    width:240px;
    font-size: 120%;
    padding: 7px 0px;
    overflow: hidden;
}
.supplemental_task_flag{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.days_stay{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
tr:nth-child(2n+1) {
    background: #EEFFFF;
}
</style>

        {% if phenomenon_lists_num > 0 %}

            <table class="table table-strriped" border="1" cellspacing="0" cellpadding="5" bordercolor="#000000" style="border-collapse: collapse">
                <thead class="scrollHead">
                    <tr>
                        <th class="detail_pb"></th>
                        <th class="phenomenon_id">案件ID</th>
                        <th class="sub_no">サブNO</th>
                        <th class="project_title">案件名</th>
                        <th class="department">部署</th>
                        <th class="next_person">次作業者</th>
                        <th class="discoverer">発見者</th>
                        <th class="discovery_date">発見日</th>
                        <th class="condition">状況</th>
                        <th class="days_stay">滞留日数</th>
                    </tr>
                </thead>
                <tbody class="scrollBody">
                {% for phenomenon_lists in phenomenon_lists %}
                    <tr>
                        <td class="detail_pb">
                            <a href="#" id="{{ phenomenon_lists.id }}" class="detailpb" onclick="phenomenon_detail({{ phenomenon_lists.id }},{{ phenomenon_lists.phenomenon_id }},{{ phenomenon_lists.step_id }});">詳細</a>
                        </td>
                        <td class="phenomenon_id">{{ phenomenon_lists.budget_id }}</td>
                        <td class="sub_no">{{ phenomenon_lists.bd_no }}</td>
                        <td class="project_title">{{ phenomenon_lists.project_title }}</td>
                        <td class="department">{{ phenomenon_lists.department }}</td>
                        <td class="next_person">{{ phenomenon_lists.last_name }}{{ phenomenon_lists.first_name }}</td>
                        <td class="discoverer">{{ phenomenon_lists.discoverer }}</td>
                        <td class="discovery_date">{{ phenomenon_lists.discovery_date }}</td>
                        <td class="condition">{{ phenomenon_lists.condition }}</td>
                        {% if phenomenon_lists.days_stay == None %}
                            <td class="days_stay"></td>
                        {% else %}
                            <td class="days_stay">{{ phenomenon_lists.days_stay }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <div>対象データなし</div>

        {% endif %}