{% extends 'fms/parts/common/level5_step_top_page.html' %}

{% block sub_contents %}

<script>

// 工事絞込条件リセット
function reset_work_filter() {
    //セッション情報の削除
    session_value_work_clear();
    //工事フィルター再表示
    stop_work_filter_call();
}

//工事一覧絞込パーツ表示処理
function stop_work_filter_call() {
    var level5_step_id = $('#level5_step_id').val();
    var user = $('#user').val();
    var user_department_cd = $('#user_department_cd').val();

    if (sessionStorage.getItem('sel_work_next_division') == null) {
        var next_division = "no_data";
    }else{
        var next_division = sessionStorage.getItem('sel_work_next_division');
    }

    if (sessionStorage.getItem('sel_work_next_department') == null) {
        var next_department = "no_data";
    }else{
        var next_department = sessionStorage.getItem('sel_work_next_department');
    }

    if (sessionStorage.getItem('sel_work_next_parson') == null) {
        var next_parson = "no_data";
    }else{
        var next_parson = sessionStorage.getItem('sel_work_next_parson');
    }

    $.ajax({
        url: "/isk_tools/fms/parts/irregular/stop_work_filter/",
        type: "POST",
        data : {
                'level5_step_id' : level5_step_id,
                'user' : user,
                'user_department_cd' : user_department_cd,
                'next_division' : next_division,
                'next_department' : next_department,
                'next_parson' : next_parson,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
        timeout: 1000000,
        dataType: 'html',
        cache : false,
        })
        .done(function(data){

            $('#stop_work_filter').empty();
            $('#stop_work_filter').html(data);
            //var division = $('#sel_work_next_division').val();
            //work_select_next_division(division);
            get_stop_work_lists_search();
        })
        .fail(function(jqXHR,textStatus,errorThrown){
            $('#stop_work_filter').empty();
            alert('Error!' +textStatus+' ' +errorThrown);
        });
}
window.onload = function() {
        stop_work_filter_call();//工事一覧絞込パーツを表示するJSを起動(このhtml内にプログラム有)
};
</script>
<style type="text/css">

.tool_box {
    //border-top-left-radius: 20px;     /* 左上 */
    border-top-right-radius: 20px;    /* 右上 */
    border-bottom-right-radius: 20px; /* 右下 */
    border-bottom-left-radius: 20px;  /* 左下 */
    border: 1px green solid;
    width: 490px;
    height: 280px;
    text-align: center;
}
.tool_title {
    font-size: 24px;
    font-weight: bold;
}
.square_small {
   width: 160px;
   height: 140px;
   background: khaki;
}
.triangle_right_small {
  width: 0;
  height: 0;
  border-left: 25px solid khaki;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
}
#work_lists{display:none;}
#loading2{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-300px;
	margin-top:300px;
}
.button{
    width:100px;
}
input {
    font-size: 120%;
}
select {
    font-size: 120%;
    height: 35px;
}

</style>

        <input type="hidden" id="level5_step_id" VALUE="{{level5_step_id}}" NAME=level5_step_id size=3 style="width:150px; height:20px"/>
        <input type="hidden" id="select_tab" VALUE="{{select_tab}}" NAME=select_tab size=3 style="width:50px; height:20px"/>
<!--        <input type="hidden" id="default_tab" value="{{ default_tab }}">-->

    <ul id="tab" style="width:auto;">工事リスト</ul>
    <div id="page2" class="pagetitle">
        <div>
            <input type="button" name="get_work_list" value=" 　リスト更新　 " onclick="get_stop_work_lists_search();">
            <input type="button" name="reset_work_filter_button" value=" 　条件リセット　 " onclick="reset_work_filter();">
        </div>
        <div id="stop_work_filter" style="width: 1880px;"></div>
        <div>
            工事リスト
        </div>
        <div id="loading2">
            <img src="/static/img/loading/earth.gif">
        </div>
        <div id="stop_work_lists" style="width: 1880px;">
        </div>
    </div>

{% endblock %}