<script>
//工事一覧から選択された工事データの詳細を別タブでの表示処理
function work_detail(id, work_id, budget_unique_id, budget_id, present_operator) {
    window.open('', 'work_stop_source');
    var user_division_cd = $('#user_division_cd').val();
    var user_department_cd = $('#user_department_cd').val();
    var user_authority = $('#user_authority').val();
    var confirm_user = $('#confirm_user').val();
    var permit_user = $('#permit_user').val();
    var level5_step_id = $('#level5_step_id').val();
    var new_step = Number(level5_step_id) + 1;
    target_url = '/isk_tools/fms/parts/execution/execution_detail_template/';
    target_val = 'prospecificationunit';
    var start_work_stop_flag = Number($('#start_work_stop_flag').val());

    $('<form/>', {action: target_url, target: 'work_stop_source', method: 'post'})
    .append($('<input/>', {type: 'hidden', name: 'id', value: id}))
    .append($('<input/>', {type: 'hidden', name: 'work_id', value: work_id}))
    .append($('<input/>', {type: 'hidden', name: 'budget_unique_id', value: budget_unique_id}))
    .append($('<input/>', {type: 'hidden', name: 'budget_id', value: budget_id}))
    .append($('<input/>', {type: 'hidden', name: 'target', value: target_val}))
    .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
    .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
    .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
    .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
    .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: '920000000'}))
    .append($('<input/>', {type: 'hidden', name: 'present_operator', value: present_operator}))
    .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 1}))
    .append($('<input/>', {type: 'hidden', name: 'copy_check', value: 1}))
    .append($('<input/>', {type: 'hidden', name: 'start_work_stop_flag', value: start_work_stop_flag}))
    .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
    .appendTo(document.body)
    .submit();
}

//工事一覧から選択された工事データの中止申請画面の表示処理
function execution_work_detail(id, work_id, budget_unique_id, budget_id, present_step_id, present_operator) {
    if (present_step_id == 999999999) {
        alert('工程完了の情報は「MotionBoard」で確認してください！！');
    }else{
        var user_division_cd = $('#user_division_cd').val();
        var user_department_cd = $('#user_department_cd').val();
        var user_authority = $('#user_authority').val();
        var confirm_user = $('#confirm_user').val();
        var permit_user = $('#permit_user').val();
        var level5_step_id = $('#level5_step_id').val();
        var new_step = Number(level5_step_id) + 1
        var target = $('#target').val();
        var start_work_stop_flag = Number($('#start_work_stop_flag').val());
        $('<form/>', {action: '/isk_tools/fms/parts/execution/execution_detail_template/', method: 'post'})
        .append($('<input/>', {type: 'hidden', name: 'id', value: id}))
        .append($('<input/>', {type: 'hidden', name: 'work_id', value: work_id}))
        .append($('<input/>', {type: 'hidden', name: 'budget_unique_id', value: budget_unique_id}))
        .append($('<input/>', {type: 'hidden', name: 'budget_id', value: budget_id}))
        .append($('<input/>', {type: 'hidden', name: 'target', value: target}))
        .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
        .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
        .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
        .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
        .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: level5_step_id}))
        .append($('<input/>', {type: 'hidden', name: 'present_operator', value: present_operator}))
        .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 1}))
        .append($('<input/>', {type: 'hidden', name: 'copy_check', value: 0}))
        .append($('<input/>', {type: 'hidden', name: 'start_work_stop_flag', value: start_work_stop_flag}))
        .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
        .appendTo(document.body)
        .submit();
    }
}
</script>

<style type="text/css">
thead.stop_work_scrollHead,tbody.stop_work_scrollBody{
    display:block;
}
tbody.stop_work_scrollBody{
    overflow-y:scroll;
    height:570px;
}
td,th{
    table-layout:fixed;
}
.stop_work_detail_pb{
    width:40px;
    font-size: 120%;
    padding: 7px 0px;
    text-align: center;
}
.stop_work_stop_pb{
    width:40px;
    font-size: 120%;
    padding: 7px 0px;
    text-align: center;
}
.stop_work_budget_id{
    width:70px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_id{
    width:65px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_name{
    width:340px;
    font-size: 120%;
    padding: 7px 0px;
}
.specification_person_in_charge{
    width:90px;
    font-size: 120%;
    padding: 7px 0px;
}
.planning_charge_person{
    width:90px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_budget_no{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_condition{
    width:140px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_step{
    width:160px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_next_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_business_year{
    width:60px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_budget_name{
    width:340px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_department{
    width:150px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_construction_name{
    width:280px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_order_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_desired_date{
    width:220px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_plan_class{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.stop_work_days_stay{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
tr:nth-child(2n+1) {
    background: #DDDDDD;
}
</style>
        {% if execution_work_lists_num > 0 %}
            表示件数：{{ execution_work_lists_num }}件

            <table >
                <thead class="stop_work_scrollHead">
                    <tr>
                        <th class="stop_work_detail_pb"></th>
                        <th class="stop_work_stop_pb"></th>
                        <th class="work_detail_pb"></th>
                        <th class="stop_work_id">工事ID</th>
                        <th class="stop_work_step">工程</th>
                        <th class="stop_work_next_person">次作業者</th>
                        <th class="stop_work_name">工事名</th>
                        <th class="specification_person_in_charge">仕様書担当</th>
                        <th class="planning_charge_person">計画担当</th>
                        <th class="stop_work_budget_id">予算ID</th>
                        <th class="stop_work_budget_no">予算NO</th>
                        <th class="stop_work_condition">予算状態</th>
                        <th class="stop_work_business_year">年度</th>
                        <th class="stop_work_budget_name">予算名</th>
                        <th class="stop_work_department">部署</th>
                        <th class="stop_work_days_stay">滞留日数</th>
                    </tr>
                </thead>
                <tbody class="stop_work_scrollBody">
                {% for work_lists in execution_work_lists %}
                    <tr>
                        <td class="stop_work_detail_pb">
                            <a href="#" class="detailpb"
                               onclick="work_detail({{ work_lists.id }},{{ work_lists.construction_id }},{{ work_lists.budget_unique_id }},{{ work_lists.budget_id }},'{{ work_lists.present_operator }}');">詳細</a>
                        </td>
                        <td class="stop_work_stop_pb">
                            <a href="#" class="detailpb"
                               onclick="execution_work_detail({{ work_lists.id }}, {{ work_lists.construction_id }}, {{ work_lists.budget_unique_id }}, {{ work_lists.budget_id }}, {{ work_lists.present_step }}, '{{ work_lists.present_operator }}');">中止</a>
                        </td>
                        <td class="stop_work_id">{{ work_lists.construction_id }}</td>
                        <td class="stop_work_step">{{ work_lists.step_name }}</td>
                        <td class="stop_work_next_person">{{ work_lists.U1_last_name }}{{ work_lists.U1_first_name }}</td>
                        <td class="stop_work_name">{{ work_lists.work_name }}</td>
                        <td class="specification_person_in_charge">
                            {% if work_lists.U2_last_name is not None and work_lists.U2_first_name is not None %}
                                {{ work_lists.U2_last_name }}{{ work_lists.U2_first_name }}
                            {% endif %}
                        </td>
                        <td class="planning_charge_person">
                            {% if work_lists.planningchargepersondata_last_name is not None and work_lists.planningchargepersondata_first_name is not None %}
                                {{ work_lists.planningchargepersondata_last_name }}{{ work_lists.planningchargepersondata_first_name }}
                            {% endif %}
                        </td>
                        <td class="stop_work_budget_id">{{ work_lists.budget_id }}</td>
                        <td class="stop_work_budget_no">{{ work_lists.bd_no }}</td>
                        <td class="stop_work_condition">{{ work_lists.condition_name }}</td>
                        <td class="stop_work_business_year">{{ work_lists.business_year_id }}</td>
                        <td class="stop_work_budget_name">{{ work_lists.budget_name }}</td>
                        <td class="stop_work_department">{{ work_lists.department_name }}</td>
                        {% if work_lists.days_stay == None %}
                            <td class="stop_work_days_stay"></td>
                        {% else %}
                            <td class="stop_work_days_stay">{{ work_lists.days_stay }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <div>対象データなし</div>

        {% endif %}