<script>
//工事一覧から選択された工事データの詳細の表示処理
function work_detail(a,b,c,d,e, present_operator) {
    if (e == 999999999) {
        alert('工程完了の情報は「MotionBoard」で確認してください！！');
    }else{
        var user_division_cd = $('#user_division_cd').val();
        var user_department_cd = $('#user_department_cd').val();
        var user_authority = $('#user_authority').val();
        var confirm_user = $('#confirm_user').val();
        var permit_user = $('#permit_user').val();
        var level5_step_id = $('#level5_step_id').val();
        var new_step = Number(level5_step_id) + 1
        $('<form/>', {action: '/isk_tools/fms/parts/common/detail_template/', method: 'post'})
        .append($('<input/>', {type: 'hidden', name: 'id', value: a}))
        .append($('<input/>', {type: 'hidden', name: 'work_id', value: b}))
        .append($('<input/>', {type: 'hidden', name: 'budget_unique_id', value: c}))
        .append($('<input/>', {type: 'hidden', name: 'budget_id', value: d}))
        .append($('<input/>', {type: 'hidden', name: 'target', value: 'work'}))
        .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
        .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
        .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
        .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
        .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: level5_step_id}))
        .append($('<input/>', {type: 'hidden', name: 'present_operator', value: present_operator}))
        .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 1}))
        .append($('<input/>', {type: 'hidden', name: 'copy_check', value: 0}))
        .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
        .appendTo(document.body)
        .submit();
    }
}
</script>
<style type="text/css">
.table table-strriped {
    height: 1400px;
    width:1900px;
}
thead.scrollHead,tbody.scrollBody{
    display:block;
}
tbody.scrollBody{
    overflow-y:scroll;
    height:420px;
}
td,th{
    table-layout:fixed;
}
.work_detail_pb{
    width:40px;
    font-size: 120%;
    padding: 7px 0px;
    text-align: center;
}
.return_flag{
    width:40px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_budget_id{
    width:75px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_id{
    width:75px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_name{
    width:280px;
    font-size: 120%;
    padding: 7px 0px;
}
.planning_charge_person{
    width:90px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_budget_no{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_condition{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_step{
    width:160px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_next_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_business_year{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_budget_name{
    width:300px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_budget_class{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_department{
    width:150px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_construction_name{
    width:280px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_order_person{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_desired_date{
    width:220px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_plan_class{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_PM_class{
    width:50px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_process{
    width:120px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_cost_center{
    width:190px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_rem{
    width:240px;
    font-size: 120%;
    padding: 7px 0px;
    overflow: hidden;
}
.work_supplemental_task_flag{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.work_days_stay{
    width:75px;
    font-size: 120%;
    padding: 7px 0px;
}
tr:nth-child(2n+1) {
    background: #DDDDDD;
}
</style>

        {% if work_lists_num > 0 %}
            表示件数：{{ work_lists_num }}件

            <table class="table table-strriped" border="1" cellspacing="0" cellpadding="5" bordercolor="#000000" style="border-collapse: collapse">
                <thead class="scrollHead">
                    <tr>
                        <th class="work_detail_pb"></th>
                        <th class="return_flag">差戻</th>
                        <th class="work_id">工事ID</th>
                        <th class="work_step">進捗状況</th>
                        <th class="work_next_person">次作業者</th>
                        <th class="work_name">工事名</th>
                        <th class="planning_charge_person">計画担当</th>
                        <th class="work_budget_id">予算ID</th>
                        <th class="work_budget_no">予算NO</th>
                        <th class="work_condition">予算状態</th>
                        <th class="budget_class">工事区分</th>
                        <th class="work_business_year">年度</th>
                        <th class="work_budget_name">{{ budget_name_text }}</th>
                        <th class="work_department">部署</th>
                        <th class="work_process">工程</th>
                        <th class="work_days_stay">滞留日数</th>
                    </tr>
                </thead>
                <tbody class="scrollBody">
                {% for work_lists in work_lists %}
                    <tr>
                        <td class="work_detail_pb">
                            <a href="#" id="{{ work_lists.id }}" class="detailpb" onclick="work_detail(id,{{ work_lists.work_id }},{{ work_lists.budget_unique_id }},{{ work_lists.budget_id }},{{ work_lists.step_id }}, '{{ work_lists.present_operator }}');">詳細</a>
                        </td>
                        {% if work_lists.return_flag == 1  %}
                            <td class="return_flag"><font color="yellow" style="background-color:red; font-weight:bold">
                                差戻
                            </font></td>
                        {% else %}
                            <td class="return_flag"></td>
                        {% endif %}
                        <td class="work_id">{{ work_lists.work_id }}</td>
                        <td class="work_step">{{ work_lists.step_name }}</td>
                        <td class="work_next_person">{{ work_lists.last_name }}{{ work_lists.first_name }}</td>
                        <td class="work_name">{{ work_lists.work_name }}</td>
                        <td class="planning_charge_person">
                            {% if work_lists.planningchargepersondata_last_name is not None and work_lists.planningchargepersondata_first_name is not None %}
                                {{ work_lists.planningchargepersondata_last_name }}{{ work_lists.planningchargepersondata_first_name }}
                            {% endif %}
                        </td>
                        <td class="work_budget_id">{{ work_lists.work_budget_id }}</td>
                        <td class="work_budget_no">{{ work_lists.bd_no }}</td>
                        <td class="work_condition">{{ work_lists.condition_name }}</td>
                        <td class="budget_class">{{ work_lists.budget_class }}</td>
                        <td class="work_business_year">{{ work_lists.business_year }}</td>
                        {% if is_mplan_flag %}
                            <td class="work_budget_name">{{ work_lists.request_name }}</td>
                        {% else %}
                            <td class="work_budget_name">{{ work_lists.budget_name }}</td>
                        {% endif %}
                        <td class="work_department">{{ work_lists.department_name }}</td>
                        <td class="work_process">{{ work_lists.process_cd }}:{{ work_lists.process_name }}</td>
                        {% if work_lists.days_stay == None %}
                            <td class="work_days_stay"></td>
                        {% else %}
                            <td class="work_days_stay">{{ work_lists.days_stay }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <div>対象データなし</div>

        {% endif %}