<script>

</script>
<style>

.like_button{
    height: 23px;
    background: #79aec8;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;

}
.like_button:hover {
    background: #609ab6;
}

 </style>
    <div style="clear: both;"></div>
    <br>
    {% if pb_disp == 1 %}
        <div>
            {% if pb_disp2 == 1 %}
                <div style="float: left;width:100px;">
                    <input type="button" value=" 出荷完了 " onclick="shipment_complete_entry(100851);" >
                </div>
            {% endif %}
            <div class="like_button" style="float: left;width:140px;">
                <p><a href="/imsds/action/shipment_job_order?order_id={{ order_id }}" download="{{ order_id }}_出荷作業指示書.xlsx" style="color: #fff; padding: 5px 5px; text-decoration:none;">出荷作業指示書作成</a></p>
            </div>
        </div>
    {% endif %}