USE [OP_ENTRY_M3P]
GO
/******************************************************************************
**【名称】	ABCD
**【分類】	
**【説明】	
**【作成日】2020/00/00
**【作者】	川内
*******************************************************************************/

ALTER PROCEDURE [dbo].[ABCD]
-->GLOBAL
  @A		NVARCHAR(MAX),			-->包装・工程テーブル名
  @B		NVARCHAR(MAX)			-->「銘柄」
AS
DECLARE
-->LOCAL
  @C		NVARCHAR(MAX) = NULL,	-->SQL文1
  @D		NVARCHAR(MAX) = NULL	-->SQL文2
BEGIN


/*========================================================================================================================================================================
-->①
-->②
-->③
-->④
-->⑤
-->⑥
==========================================================================================================================================================================*/
-->①


-->②


-->③


-->④


-->⑤


-->⑥


END