{% extends 'cpexcel/base.html' %}

{% block contents %}

<script>

function program_filter_call() {
    $.ajax({
        url: "/isk_tools/cpexcel/parts/program_filter/",
        type: "POST",
        data : {
                'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
        timeout: 1000000,
        dataType: 'html',
        cache : false,
        })
        .done(function(data){
            $('#program_filter').empty();
            $('#program_filter').html(data);
            list_refresh(2);
        })
        .fail(function(jqXHR,textStatus,errorThrown){
            $('#program_filter').empty();
            alert('Error!' +textStatus+' ' +errorThrown);
        });
}
function program_select(a) {
    var program_id = a;
        $.ajax({
                url: "/isk_tools/cpexcel/parts/program_detail/",
                type: "POST",
                data : {
                    'program_id': program_id,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#program_detail').empty();
                    $('#program_detail').html(data);

                    $("#floatBox1Dialog").dialog({
                        modal:true,
                        width: 1500,
                        height: 820,
                        title:"プログラム実行画面",
                    });
                    task_list_refresh(program_id);
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#program_detail').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}
function task_list_refresh(a) {
    var program_id = a;
    $("#loading2").show();
        $.ajax({
                url: "/isk_tools/cpexcel/parts/task_list/",
                type: "POST",
                data : {
                    'program_id': program_id,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#task_list').empty();
                    $('#task_list').html(data);
                    $("#loading2").fadeOut();
                    $("#task_list").fadeIn();
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#task_list').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}

window.onload = function() {
        program_filter_call();
};

</script>
<style type="text/css">
#program_list{display:none;}
#loading{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-300px;
	margin-top:300px;
}
#task_list{display:none;}
#loading2{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-100px;
	margin-top:100px;
}
</style>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 c0l-md-offset-2 main">
        <h2 class="page-header">Automatic copy & past for Excel　プログラム実行</h2>
    </div>

    <div id="entry_pb" >
        <input type="button" value="リスト更新" onclick="list_refresh(2);">　　
    </div>

    <div id="program_filter">
    </div>
    <div id="loading">
        <img src="/static/img/loading/earth.gif">
    </div>
    <div id="program_list">
    </div>
    <div id="floatBox1Dialog" style="display:none;">
        <div style=" float:left;">
            <div id="program_detail"></div>
        </div>
        <div style=" float:left;width:20px;">　　</div>
        <div style=" float:left;">
            <br>
            <br>
            <div id="loading2">
                <img src="/static/img/loading/earth.gif">
            </div>
            <div id="task_list" ></div>
        </div>
    </div>

{% endblock %}