{% extends 'fms/parts/execution/execution_detail/execution_work_info_base.html' %}

{% block execution_sub_contents %}

<script>
function action_button_empty() {
    var tab = Number($('#default_tab').val());
    $('#prospecificationunit' + tab + '_action_button').empty();
}
//入力項目チェック(入力忘れ、文字数オーバー等)の処理
function input_check(a,b,d) {
    var this_step = a;
    var next_step = b;
    var action_cd = d;
    var ng_flag = 0;
    var ng_str_count_flag = 0;
    var msg = ""
    var alert_ng_ch_msg_str = ""

    // 全て正常時のみ禁止文字チェック
    var ng_all_flag = ng_flag + ng_str_count_flag;
    if ( ng_all_flag == 0) {
        alert_ng_ch_msg_str = check_all_ng_character("{{ div_id_name }}_ng_character_check");
        if ( alert_ng_ch_msg_str.length > 0 ) {
            ng_all_flag += 1;
        }
    }
    //正常時処理
    if( ng_all_flag == 0){
        prodelivery_edit(this_step,next_step);
    }else{
        //呼び出し中に表示するgifをフェードアウト
        if($("#action_pb_loading") != null){
            $("#action_pb_loading").fadeOut();
        }
        //警告表示
        if ( ng_flag > 0 ) {
            msg += '未入力項目があります！！\n';
        }
        if ( ng_str_count_flag > 0 ) {
            msg += '文字数オーバーです！！\n';
        }
        if ( alert_ng_ch_msg_str.length > 0 ) {
            msg += alert_ng_ch_msg_str;
        }
        if ( msg.length > 0 ) {
            alert(msg);
        }
        // アクションボタン有効化
        $(".button").prop("disabled", false);
    }
}

// 工事納入情報テーブル登録･更新処理
function prodelivery_edit(a,b) {

//    alert('sub_id : ' + $('#sub_id').val() + '  storage_loc : ' + $('#storage_loc').val());

        var this_step = a;
        var next_step = b;
        var next_division = $('#next_division').val();
        var next_department = $('#next_department').val();
        if ( a == b ){
            var next_person = $('#this_user').val();
            var user_attribute_id = 0;
        }else{
            var next_person = "";
            var user_attribute_id = $('#sel_next_person').val();
        }
        var this_department = $('#user_department_cd').val();
        var this_division = $('#user_division_cd').val();
        var comment = $('#comment').val();

        var budget_id = $('#budget_id').val();
        var rev_no = $('#rev_no').val();
        var budget_no = $('#budget_no').val();
        var budget_name = $('#budget_name').val();
        var construction_id = $('#construction_id').val();
        var sub_id = $('#sub_id').val();
        var scheduled_date =  $('#scheduled_date').val();
        var scheduled_datime =  $('#scheduled_datime').val();
        var delivery_date =  $('#delivery_date').val();
        var storage_loc =  $('#storage_loc').val();
        //var delivery_note_data =  $('#delivery_note_data').val();
        $.ajax({
                url: "/isk_tools/fms/action/execution_prodelivery_entry/",
                type: "POST",
                data : {
                    'this_step' : this_step,
                    'next_step' : next_step,
                    'next_step' : next_step,
                    'next_division' : next_division,
                    'next_department' : next_department,
                    'next_person' : next_person,
                    'comment' : comment,
                    'budget_id' : budget_id,
                    'rev_no' : rev_no,
                    'budget_no' : budget_no,
                    'budget_name' : budget_name,
                    'construction_id' : construction_id,
                    'sub_id' : sub_id,
                    'scheduled_date' : scheduled_date,
                    'scheduled_datime' : scheduled_datime,
                    'delivery_date' : delivery_date,
                    'storage_loc' : storage_loc,
                    //'delivery_note_data' : delivery_note_data,
                    'user_attribute_id' : user_attribute_id,
                    'this_department' : this_department,
                    'this_division' : this_division,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    //現状の進捗工程と処理後の進捗工程とが別かを判定
                    if ( this_step != next_step ){
                        $('#{{ action_button_id }}').empty();//別の場合は、「操作」ボタンを非表示に
                    }
                    log_list(1);//ログ表示(予算単位デフォルト)のためのJS起動(detail_template.html内にプログラム有)
                    if($("#action_pb_loading") != null){
                        $("#action_pb_loading").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    }
                    alert(data.msg);
                    // アクションボタン有効化
                    $(".button").prop("disabled", false);
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    if($("#action_pb_loading") != null){
                        $("#action_pb_loading").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    }
                    alert('Error!' +textStatus+' ' +errorThrown);
                    // アクションボタン有効化
                    $(".button").prop("disabled", false);
                });
}
</script>
<style type="text/css">
div.scroll_work_info_div {
  width: 1880px;
  height: 780px;
  overflow: scroll;
}
tbody.scrollBody{
    overflow-y:scroll;
    height:100px;
}
div.scroll_div {
  border: solid 1px;
  width: 1000px;
  height: 900px;
  overflow: scroll;
}
</style>

    <div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 c0l-md-offset-2 main">
        </div>
        <input type="hidden" id="action" value="{{ action }}">
        <input type="hidden" id="execution_prodelivery_page" value="{{ this_page }}">
        <input type="hidden" id="this_user" value="{{ t_username }}">
        <input type="hidden" id="execution_prodelivery_edit">

        <div id="{{ action_button_id }}" style="width: auto;"></div>

        <div class="scroll_div" style="float: left;">
        <!--FileUploadForm        -->
            <form id="file_upload_form_{{ div_id_name }}" name="file_upload_form_{{ div_id_name }}" action="/isk_tools/fms/action/file_upload/" method="POST" enctype="multipart/form-data">
            <div id="{{ div_id_name }}_ng_character_check"><!--ng_character_check ここから-->
            <table>
                <font size="4">調整後</font>
                <tr>
                    <td><div><font size="4">工事(納入)予定日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="scheduled_date" class="datepicker" value="{{ scheduled_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('scheduled_date');"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">工事(納入)時刻</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="datetime-local" id="scheduled_datime" value="{{ scheduled_datime }}"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">納入日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="delivery_date" class="datepicker" value="{{ delivery_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('delivery_date');"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">保管場所</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="3"><textarea id="storage_loc" name="storage_loc" rows="18" cols="54" >{{ storage_loc }}</textarea></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">納品書データ</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><input type="file" id="delivery_note" name="delivery_note"></td>
                </tr>
            </table>
            </div><!--ng_character_checkここまで-->
            <input type="hidden" id="file_target" name="file_target" value="{{ target }}">
            <input type="hidden" id="file_budget_id" name="file_budget_id" value="{{ target_budget_id }}">
            <input type="hidden" id="file_work_id" name="file_work_id" value="{{ target_work_id }}">
            <input type="hidden" id="div_id_name" name="div_id_name" value="{{ div_id_name }}">
            {% csrf_token %}
            <input type="button" value=" 格納 " onclick="file_upload('{{ div_id_name }}');">
            </form><br>
        <!--FileUploadForm        -->
        <!--UploadFileList        -->
            <div id="upload_file_list_{{ div_id_name }}"></div>
        <!--UploadFileList        -->
        </div>
    </div>
    <div style="clear: both;"></div>

{% endblock %}