<script>
//予算関連法令登録･更新処理
function budget_law_edit(a) {
    var action_type = a;
    var budget_law_id = $('#budget_law_id').val();
    var budget_id = $('#budget_id').val();
    if (budget_id == 0){
        alert("予算データを先に登録(一時保存)してください！！");
    }else{
        var rev_no = $('#budget_rev_no').val();
        //alert(rev_no);
        var this_step = $('#this_step').val();
        var this_budget_id = $('#target_budget_id').val();
        var this_department = $('#this_department').val();
        var this_division = $('#this_division').val();
        var display_order = $('#display_order').val();
        var budget_law_name = $('#budget_law_name').val();
            $.ajax({
                url: "/isk_tools/fms/action/budget_law_entry/",
                type: "POST",
                data : {
                    'action_type' : action_type,
                    'budget_id' : budget_id,
                    'rev_no' : rev_no,
                    'budget_law_id' :budget_law_id,
                    'budget_law_name' : budget_law_name,
                    'display_order' : display_order,
                    'this_step' : this_step,
                    'this_budget_id' : this_budget_id,
                    'this_department' : this_department,
                    'this_division' : this_division,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    alert(data.msg);
                    get_budget_law_list(budget_id);//予算関連法令一覧表示のためのJS起動(detail_template.html内にプログラム有)
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
    }
}
//予算関連法令削除処理
function budget_law_delete(a) {
    var action_type = a;
    var budget_law_id = $('#budget_law_id').val();
    if (budget_law_id != 0) {
        var budget_id = $('#budget_id').val();
        var rev_no = $('#budget_rev_no').val();
        var this_step = $('#this_step').val();
        var this_budget_id = $('#target_budget_id').val();
        var this_department = $('#this_department').val();
        var this_division = $('#this_division').val();
        var budget_law_name = $('#budget_law_name').val();
            $.ajax({
                url: "/isk_tools/fms/action/budget_law_delete/",
                type: "POST",
                data : {
                    'action_type' : action_type,
                    'budget_id' : budget_id,
                    'rev_no' : rev_no,
                    'budget_law_id' : budget_law_id,
                    'budget_law_name' : budget_law_name,
                    'this_step' : this_step,
                    'this_budget_id' : this_budget_id,
                    'this_department' : this_department,
                    'this_division' : this_division,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    alert(data.msg);
                    $('#budget_law_id').val(0);
                    $('#budget_law_name').val("");
                    get_budget_law_list(budget_id);//予算関連法令一覧表示のためのJS起動(detail_template.html内にプログラム有)
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
    }
}
//マスターから予算関連法令を選択したときの処理
function select_master_budget_law(a) {
    var budget_law_cd = a ;
        $.ajax({
                url: "/isk_tools/fms/action/select_budget_law/",
                type: "POST",
                data : {
                    'budget_law_cd' : budget_law_cd,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    $('#budget_law_name').val(data.regulation_name);
                    $('#budget_law_cd').val(data.regulation_cd);
                    $('#display_order').val(data.display_order);
                    $('#budget_law_id').val(data.budget_law_id);

                    //ボタン表示/非表示処理
                    if(document.getElementById("budget_law_add_button_div") != null){
                        const p1 = document.getElementById("budget_law_add_button_div");
                        p1.style.display ="block";
                    }
                    if(document.getElementById("budget_law_edit_button_div") != null){
                        const p2 = document.getElementById("budget_law_edit_button_div");
                        p2.style.display ="none";
                    }
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}
//予算関連機器登録･更新処理
function budget_equipment_edit(a) {
    var action_type = a;
    var budget_equipment_id = $('#budget_equipment_id').val();
    var budget_id = $('#budget_id').val();
    if (budget_id == 0){
        alert("予算データを先に登録(一時保存)してください！！");
    }else{
        var rev_no = $('#budget_rev_no').val();
        var this_step = $('#this_step').val();
        var this_budget_id = $('#target_budget_id').val();
        var this_department = $('#this_department').val();
        var this_division = $('#this_division').val();
        var equipment_no = $('#equipment_no').val();
        var equipment_name = $('#equipment_name').val();
        var management_class = $('#management_class').val();
        var equip_family = $('#equip_family').val();
        var equip_type = $('#equip_type').val();
        var facility = $('#facility').val();
            $.ajax({
                url: "/isk_tools/fms/action/budget_equipment_entry/",
                type: "POST",
                data : {
                    'action_type' : action_type,
                    'budget_id' : budget_id,
                    'rev_no' : rev_no,
                    'budget_equipment_id' : budget_equipment_id,
                    'equipment_no' : equipment_no,
                    'equipment_name' : equipment_name,
                    'management_class' : management_class,
                    'equip_family' : equip_family,
                    'equipment_type' : equip_type,
                    'facility' : facility,
                    'this_step' : this_step,
                    'this_budget_id' : this_budget_id,
                    'this_department' : this_department,
                    'this_division' : this_division,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    alert(data.msg);
                    get_budget_equipment_list(budget_id);//予算関連機器一覧表示のためのJS起動(detail_template.html内にプログラム有)
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
    }
}
//予算関連機器削除処理
function budget_equipment_delete(a) {
    var action_type = a;
    var budget_equipment_id = $('#budget_equipment_id').val();
    if (budget_equipment_id != 0) {
        var budget_id = $('#budget_id').val();
        var rev_no = $('#budget_rev_no').val();
        var this_step = $('#this_step').val();
        var this_budget_id = $('#target_budget_id').val();
        var this_department = $('#this_department').val();
        var this_division = $('#this_division').val();
        var budget_equipment_no = $('#equipment_no').val();
            $.ajax({
                url: "/isk_tools/fms/action/budget_equipment_delete/",
                type: "POST",
                data : {
                    'action_type' : action_type,
                    'budget_id' : budget_id,
                    'rev_no' : rev_no,
                    'budget_equipment_id' : budget_equipment_id,
                    'budget_equipment_no' : budget_equipment_no,
                    'this_step' : this_step,
                    'this_budget_id' : this_budget_id,
                    'this_department' : this_department,
                    'this_division' : this_division,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    alert(data.msg);
                    $('#budget_equipment_id').val(0);
                    $('#equipment_no').val("");
                    $('#equipment_name').val("");
                    $('#management_class').val("");
                    $('#equip_family').val("");
                    $('#equip_type').val("");
                    get_budget_equipment_list(budget_id);//予算関連機器一覧表示のためのJS起動(detail_template.html内にプログラム有)
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
    }
}
// 機器リスト選択時フォームへ反映処理
function select_master_budget_equipment(a, b) {
    var equipment_id = a;
    var equip_type = b;
        $.ajax({
                url: "/isk_tools/fms/action/select_budget_equipment/",
                type: "POST",
                data : {
                    'equipment_id' : equipment_id,
                    'equipment_type' : equip_type,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    $('#equipment_no').val(data.equipment_no);
                    $('#equipment_name').val(data.equipment_name);
                    $('#management_class').val(data.management_class);
                    $('#equip_family').val(data.equip_family);
                    $('#equip_family_nm').val(data.equip_family_nm);
                    $('#equip_type').val(b);
                    $('#equip_type_nm').val(data.equip_type_nm);
                    $('#facility').val(data.facility);
//                    $('#budget_equipment_id').val(data.equipment_id);

                    //ボタン表示/非表示処理
                    if(document.getElementById("budget_equipment_add_button_div") != null){
                        const p1 = document.getElementById("budget_equipment_add_button_div");
                        p1.style.display ="block";
                    }
                    if(document.getElementById("budget_equipment_edit_button_div") != null){
                        const p2 = document.getElementById("budget_equipment_edit_button_div");
                        p2.style.display ="none";
                    }
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}
function select_equipment(equipment){
    //確認
    console.log(equipment.getAttribute("data-management_class"));
    console.log(equipment.getAttribute("data-facility_code"));
    console.log(equipment.getAttribute("data-equip_no"));
    console.log(equipment.getAttribute("data-equip_name"));
    console.log(equipment.getAttribute("data-equip_family"));
    console.log(equipment.getAttribute("data-equip_family_nm"));
    console.log(equipment.getAttribute("data-equip_type"));
    console.log(equipment.getAttribute("data-equip_type_nm"));

    //dataをフォームに格納
    $('#management_class').val(equipment.getAttribute("data-management_class"));
    $('#facility').val(equipment.getAttribute("data-facility_code"));
    $('#equipment_no').val(equipment.getAttribute("data-equip_no"));
    $('#equipment_name').val(equipment.getAttribute("data-equip_name"));
    $('#equip_family').val(equipment.getAttribute("data-equip_family"));
    $('#equip_family_nm').val(equipment.getAttribute("data-equip_family_nm"));
    $('#equip_type').val(equipment.getAttribute("data-equip_type"));
    $('#equip_type_nm').val(equipment.getAttribute("data-equip_type_nm"));

    //ボタン表示/非表示処理
    if(document.getElementById("budget_equipment_add_button_div") != null){
        const p1 = document.getElementById("budget_equipment_add_button_div");
        p1.style.display ="block";
    }
    if(document.getElementById("budget_equipment_edit_button_div") != null){
        const p2 = document.getElementById("budget_equipment_edit_button_div");
        p2.style.display ="none";
    }
}
//機器マスタ絞込処理
function equipment_filter() {
    var management_class = $('#sel_management_class').val();
    if (management_class == ""){
        $('#equipment_list').empty();
        alert("区分(一番左の選択欄)を選択してください!!");
    }else{
        $("#loading_law_equipment").show();//呼び出し中に表示するgifを表示
        var equip_family = $('#sel_equip_family').val();
        // var equip_type = $('#sel_equip_type').val();
        var facility = $('#sel_facility_code').val();
            $.ajax({
                url: "/isk_tools/fms/parts/equipment_list/",
                type: "POST",
                data : {
                    'equip_family' : equip_family,
                    // 'equip_type' : equip_type,
                    'facility' : facility,
                    'management_class' : management_class,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 30000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#equipment_list').empty();
                    $('#equipment_list').html(data);
                    $("#loading_law_equipment").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    $("#equipment_list").fadeIn();//対象の一覧をフェードイン
               })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#equipment_list').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
               });
    }
}
//機器ファミリ選択時の機器マスタ絞込処理
function equip_family_filter() {
    var management_class = $('#sel_management_class').val();
            $.ajax({
                url: "/isk_tools/fms/parts/law_equipment/filter_equip_family/",
                type: "POST",
                data : {
                    'management_class' : management_class,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 30000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#sel_equip_family').empty();
                    $('#sel_equip_family').html(data);

                    // 関連機器一覧の表示をリセット
                    reset_equipment_list();
               })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#sel_equip_family').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
               });
}
// 関連機器一覧表示のリセット処理
function reset_equipment_list() {
    $.ajax({
        url: "/isk_tools/fms/parts/reset_equipment_list/",
        type: "POST",
        data : {
            'csrfmiddlewaretoken': "{{ csrf_token }}"
        },
        timeout: 30000,
        dataType: 'html',
        cache : false,
        })
        .done(function(data){
            $('#equipment_list').empty();
            $('#equipment_list').html(data);
       })
       .fail(function(jqXHR,textStatus,errorThrown){
            $('#equipment_list').empty();
            alert('Error!' +textStatus+' ' +errorThrown);
       });
}

// //機器タイプ選択時の機器マスタ絞込処理
// function equip_type_filter() {
//     var management_class = $('#sel_management_class').val();
//     var equip_family = $('#sel_equip_family').val();
//     if (management_class == ""){
//         $('#equipment_list').empty();
//         alert("区分(一番左の選択欄)を選択してください!!");
//     }else{
//         $.ajax({
//                 url: "/isk_tools/fms/parts/law_equipment/filter_equip_type/",
//                 type: "POST",
//                 data : {
//                     'management_class' : management_class,
//                     'equip_family' : equip_family,
//                     'csrfmiddlewaretoken': "{{ csrf_token }}"
//                 },
//                 timeout: 30000,
//                 dataType: 'html',
//                 cache : false,
//                 })
//                 .done(function(data){
//                     $('#sel_equip_type').empty();
//                     $('#sel_equip_type').html(data);
//                     equipment_filter();
//                })
//                .fail(function(jqXHR,textStatus,errorThrown){
//                     $('#sel_equip_type').empty();
//                     alert('Error!' +textStatus+' ' +errorThrown);
//                });
//     }
// }
//機器タイプ選択時の機器マスタ絞込処理
function equip_type_filter() {
    var management_class = $('#sel_management_class').val();
    if (management_class == ""){
        $('#equipment_list').empty();
        alert("区分(一番左の選択欄)を選択してください!!");
    }else{
        equipment_filter();
    }
}
//ファシリティクラスコード選択時のファシリティコード(location_cd)絞込処理
function facility_code_filter() {
    var facility_class_code_skey = $('#sel_facility_class_code').val();
    $.ajax({
        url: "/isk_tools/fms/parts/law_equipment/filter_facility_code/",
        type: "POST",
        data : {
            'facility_class_code_skey' : facility_class_code_skey,
            'csrfmiddlewaretoken': "{{ csrf_token }}"
        },
        timeout: 30000,
        dataType: 'html',
        cache : false,
        })
        .done(function(data){
            $('#sel_facility_code').empty();
            $('#sel_facility_code').html(data);
        })
        .fail(function(jqXHR,textStatus,errorThrown){
            $('#sel_facility_code').empty();
            alert('Error!' +textStatus+' ' +errorThrown);
        });
}
window.onload = function() {
    //var work_id = $('#target_work_id').val();･･･削除予定
    //get_document_list(work_id);･･･削除予定
};
</script>
<style type="text/css">
input, textarea {
    font-size: 100%;
}
select {
    font-size: 100%;
    height:35px;
}
.datepicker {
    width:150px;;
}
div.scrool_budget_law_master_div {
  width: 720px;
  height: 340px;
  overflow: scroll;
}
div.scrool_equipment_list {
  width: auto;
  height: 200px;
  overflow: scroll;
}
#loading_law_equipment{
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-300px;
	margin-top:600px;
}
</style>
    <div class="fms_col-sm-9 fms_col-sm-offset-3 fms_col-md-10 fms_c0l-md-offset-2 main" style="width: auto;">
        <h2 class="page-header">関係法規/関係機器</h2>
    </div>

    <div id="{{ div_id_name }}_ng_character_check"><!--ng_character_check ここから-->

    <div style="border-style: ridge;"><h2 class="page-header">関係法規</h2>
        <div style="float:left; border-style: ridge;">
            <div style="border-style: ridge;"><h2 class="page-header">関係法規選択</h2></div>
            <div class="scrool_budget_law_master_div">
                <div style="float:left;width:220px;">
                    <ul>
                    {% for law_master_lists_1 in law_master_lists_1 %}
                        <li class="fms_sidebar-list"><font size="3"><a href="#" onclick="select_master_budget_law('{{ law_master_lists_1.regulation_cd }}');">・{{ law_master_lists_1.regulation_name }}</a></font></li>
                    {% endfor %}
                    </ul>
                </div>
                <div style="float:left;width:220px;">
                    <ul>
                    {% for law_master_lists_2 in law_master_lists_2 %}
                        <li class="fms_sidebar-list"><font size="3"><a href="#" onclick="select_master_budget_law('{{ law_master_lists_2.regulation_cd }}');">・{{ law_master_lists_2.regulation_name }}</a></font></li>
                    {% endfor %}
                    </ul>
                </div>
                <div style="float:left;width:220px;">
                    <ul>
                    {% for law_master_lists_3 in law_master_lists_3 %}
                        <li class="fms_sidebar-list"><font size="3"><a href="#" onclick="select_master_budget_law('{{ law_master_lists_3.regulation_cd }}');">・{{ law_master_lists_3.regulation_name }}</a></font></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div style="float:left;size=5px">　</div>
        <div style="float:left;"><h2 class="page-header">新規登録</h2>
            <div style="float:left;size=5px">　</div>
            <div style="float:left;">
                <table>
                    <tr>
                        <td><div><font size="4">関係法令名</font></div></td>
                        <td><div><font size="4">：　</font></div></td>
                        <td><div><font size="4"><input type="text" id="budget_law_name" size="35" value="" ></font></div></td>
                    </tr>
                </table>
                <input type="hidden" id="display_order" value="" size="4" >
                <input type="hidden" id="budget_law_id" value="" size="4" >
                <input type="hidden" id="budget_law_cd" value="" size="4" >
                <br>
                <div id="budget_law_add_button_div" style="float:left;" >
                    <input type="button" id="budget_law_add_button" value="　追加　" onclick="budget_law_edit('add')" >
                </div>
                <div id="budget_law_edit_button_div" style="float:left;" >
                    <input type="button" id="budget_law_delete_button" value="　削除　" onclick="budget_law_delete('delete')" >
                </div>
            </div>
        </div>
        <div style="float:left;size=10px">　</div>
        <div style="float:left;"><h2 class="page-header">登録済適用法規リスト</h2>
            <div id="budget_law_list"></div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <br>
    <div style="border-style: ridge;"><h2 class="page-header">関連機器</h2>

        <div id="loading_law_equipment">
            <img src="/static/img/loading/earth.gif">
        </div>

        <div style="float:left; border-style: ridge;">

        <div>
            <select id="sel_management_class" name="sel_management_class" onchange="equip_family_filter();">
                <option value="" hidden></option>
<!--                <option value="M">機械</option>-->
<!--                <option value="E">電気</option>-->
<!--                <option value="I">計装</option>-->
<!--                <option value="C">土建</option>-->
                {% for management_class_lists in management_class_lists %}
                    <option value="{{ management_class_lists.mgt_cls }}">{{ management_class_lists.mgt_cls_nm_1 }}</option>
                {% endfor %}
            </select>
            <select id="sel_equip_family" name="sel_equip_family" onchange="equip_type_filter();">
                    <option value="" hidden></option>
                {% for equip_family_lists in equip_family_lists %}
<!--                    <option value="{{ equip_family_lists.family_cd }}">{{ equip_family_lists.family_nm }}</option>-->
                    <option value="{{ equip_family_lists.fnc_ctg_cd }}">{{ equip_family_lists.fnc_ctg_nm_1 }}</option>
                {% endfor %}
            </select>
<!--            <select id="sel_equip_type" name="sel_equip_type" onchange="equipment_filter();">-->
<!--                    <option value="" hidden></option>-->
<!--                {% for equip_type_lists in equip_type_lists %}-->
<!--                    <option value="{{ equip_type_lists.fnc_ctg_cd }}">{{ equip_type_lists.fnc_ctg_nm_1 }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--            <select id="sel_facility" name="sel_facility" onchange="equipment_filter();">-->
<!--                    <option value="" hidden></option>-->
<!--                {% for facility_lists in facility_lists %}-->
<!--                    <option value="{{ facility_lists.location_cd }}">{{ facility_lists.location_nm_1 }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
            <select id="sel_facility_class_code" name="sel_facility_class_code" onchange="facility_code_filter();">
                    <option value="" hidden></option>
                {% for facility_lists in facility_lists %}
                    <option value="{{ facility_lists.m_location_skey }}">{{ facility_lists.location_nm_1 }}</option>
                {% endfor %}
            </select>
            <select id="sel_facility_code" name="sel_facility_code" onchange="equipment_filter();">
                    <option value="" hidden></option>
                {% for fclty_cd_lists in fclty_cd_lists %}
                    <option value="{{ fclty_cd_lists.location_cd }}">{{ fclty_cd_lists.location_nm_1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="border-style: ridge;"><h2 class="page-header">関連機器選択</h2></div>
        <div id="equipment_list" class="scrool_equipment_list">
            <ul id="equipment">
                <li class="fms_sidebar-list"><font size="4">関連機器を選択してください</font></li>
            </ul>
        </div>
    </div>

        <div style="float:left;size=5px">　</div>
        <div style="float:left;"><h2 class="page-header">新規登録</h2>
            <div style="float:left;size=5px">　</div>
            <div style="float:left;">
                <table>
                    <tr>
                        <td><div><font size="4">関連機器NO</font></div></td>
                        <td><div><font size="4">：　</font></div></td>
                        <td><div><font size="4"><input type="text" id="equipment_no" size="35" value="" readonly="readonly"></font></div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4">関連機器名</font></div></td>
                        <td><div><font size="4">：　</font></div></td>
                        <td><div><font size="4"><input type="text" id="equipment_name" size="35" value="" readonly="readonly"></font></div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4">機器ファミリ</font></div></td>
                        <td><div><font size="4">：　</font></div></td>
                        <td><div><font size="4"><input type="text" id="equip_family_nm" size="35" value="" readonly="readonly"></font></div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4">機器タイプ</font></div></td>
                        <td><div><font size="4">：　</font></div></td>
                        <td><div><font size="4"><input type="text" id="equip_type_nm" size="35" value="" readonly="readonly"></font></div></td>
                    </tr>
                </table>
                <input type="hidden" id="management_class" value="" size="4" >
                <input type="hidden" id="equip_family" value="" size="50" >
                <input type="hidden" id="facility" value="" size="50" >
                <input type="hidden" id="budget_equipment_id" value="" size="4" >
                <input type="hidden" id="equip_type" value="" size="50" >
                <br>
                <div id="budget_equipment_add_button_div" style="float:left;" >
                    <input type="button" id="budget_equipment_add_button" value="　追加　" onclick="budget_equipment_edit('add')" >
                </div>
                <div id="budget_equipment_edit_button_div" style="float:left;" >
                    <input type="button" id="budget_equipment_delete_button" value="　削除　" onclick="budget_equipment_delete('delete')" >
                </div>
            </div>
        </div>
        <div style="float:left;size=10px">　</div>
        <div style="float:left;"><h2 class="page-header">登録済関連機器リスト</h2>
            <div id="budget_equipment_list"></div>
        </div>


    </div>

    </div><!--ng_character_checkここまで-->
