<script>

$('.datepicker').datepicker();

jQuery(function($){
    $.datepicker.regional['ja'] = {
        closeText: '閉じる',
        prevText: '<前',
        nextText: '次>',
        currentText: '今日',
        monthNames: ['1月','2月','3月','4月','5月','6月',
        '7月','8月','9月','10月','11月','12月'],
        monthNamesShort: ['1月','2月','3月','4月','5月','6月',
        '7月','8月','9月','10月','11月','12月'],
        dayNames: ['日曜日','月曜日','火曜日','水曜日','木曜日','金曜日','土曜日'],
        dayNamesShort: ['日','月','火','水','木','金','土'],
        dayNamesMin: ['日','月','火','水','木','金','土'],
        weekHeader: '週',
        dateFormat: 'yy年m月d日',
        changeYear: true,
        firstDay: 0,
        isRTL: false,
        showMonthAfterYear: true,
        yearSuffix: '年'};
    $.datepicker.setDefaults($.datepicker.regional['ja']);
});
var int_test = 365

// 中止理由記入画面呼び出し
function level5_stop_page(work_id, budget_id, present_step_id, present_operator) {
    var id = $('#target_unique_id').val();
    var budget_unique_id = $('#target_budget_unique_id').val();
    var user_division_cd = $('#user_division_cd').val();
    var user_department_cd = $('#user_department_cd').val();
    var user_authority = $('#user_authority').val();
    var confirm_user = $('#confirm_user').val();
    var permit_user = $('#permit_user').val();
    var level5_step_id = 212001000;
    var new_step = level5_step_id + 1
    var target = "before_stop_work";
    $('<form/>', {action: '/isk_tools/fms/parts/common/detail_template/', method: 'post'})
    .append($('<input/>', {type: 'hidden', name: 'id', value: id}))
    .append($('<input/>', {type: 'hidden', name: 'work_id', value: work_id}))
    .append($('<input/>', {type: 'hidden', name: 'budget_unique_id', value: budget_unique_id}))
    .append($('<input/>', {type: 'hidden', name: 'budget_id', value: budget_id}))
    .append($('<input/>', {type: 'hidden', name: 'target', value: target}))
    .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
    .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
    .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
    .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
    .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
    .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: level5_step_id}))
    .append($('<input/>', {type: 'hidden', name: 'present_step_id', value: present_step_id}))
    .append($('<input/>', {type: 'hidden', name: 'present_operator', value: present_operator}))
    .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 1}))
    .append($('<input/>', {type: 'hidden', name: 'copy_check', value: 0}))
    .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
    .appendTo(document.body)
    .submit();
}

//工事計画担当者選択の値と呼び出した値との同期処理
function work_planning_charge_person_value_change() {
        var target_work_planning_charge_person = $('#work_planning_charge_person').val();
        if (target_work_planning_charge_person != "") {
            var pulldown_option = document.getElementById("sel_work_planning_charge_person").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_planning_charge_person){
                    var value = pulldown_option[i].value;
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//工事実行担当者選択の値と呼び出した値との同期処理
function work_execution_charge_person_value_change() {
        var target_work_execution_charge_person = $('#work_execution_charge_person').val();
        if (target_work_execution_charge_person != "") {
            var pulldown_option = document.getElementById("sel_work_execution_charge_person").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_execution_charge_person){
                    var value = pulldown_option[i].value;
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//工事原課担当者選択の値と呼び出した値との同期処理
function work_order_department_charge_person_value_change() {
        var target_work_order_department_charge_person = $('#work_order_department_charge_person').val();
        if (target_work_order_department_charge_person != "") {
            var pulldown_option = document.getElementById("sel_work_order_department_charge_person").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_order_department_charge_person){
                    var value = pulldown_option[i].value;
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//工事区分(物品/工事)選択の値と呼び出した値との同期処理
function work_class_value_change() {
        var target_work_class = $('#work_class').val();
        if (target_work_class != "") {
            var pulldown_option = document.getElementById("sel_work_class").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_class){
                    pulldown_option[i].selected = true;
                    var value = pulldown_option[i].value;
                    break;
                }
            }
        }
}
//管理区分選択の値と呼び出した値との同期処理
function management_class_value_change() {
        var target_management_class = $('#management_class_cd').val();
        if (target_management_class != "") {
            var pulldown_option = document.getElementById("sel_management_class_cd").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_management_class){
                    pulldown_option[i].selected = true;
                    var value = pulldown_option[i].value;
                    break;
                }
            }
        }
}
//工事担当部門選択の値と呼び出した値との同期処理
function work_charge_division_value_change() {
        var target_work_charge_division = $('#work_charge_division').val();
        if (target_work_charge_division != "") {
            var pulldown_option = document.getElementById("sel_work_charge_division").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_charge_division){
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//工事担当部署選択の値と呼び出した値との同期処理
function work_charge_department_value_change() {
        var target_work_charge_department = $('#work_charge_department').val();
        if (target_work_charge_department != "") {
            var pulldown_option = document.getElementById("sel_work_charge_department").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_charge_department){
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//工事工程選択の値と呼び出した値との同期処理
function work_charge_process_value_change() {
        var target_work_charge_process = $('#work_charge_process').val();
        if (target_work_charge_process != "") {
            var pulldown_option = document.getElementById("sel_work_charge_process").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_charge_process){
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}
//要求機能選択の値と呼び出した値との同期処理
function work_required_function_value_change() {
        var target_work_required_function = $('#work_required_function').val() + '.' + $('#required_function_sub_no').val();
        if (target_work_required_function != "") {
            var pulldown_option = document.getElementById("sel_work_required_function").getElementsByTagName('option');
            var i = 0;
            for(i=0;pulldown_option.length>i;i++){
                if(pulldown_option[i].value == target_work_required_function){
                    pulldown_option[i].selected = true;
                    break;
                }
            }
        }
}

//入力項目チェック処理
function work_common_input_check() {
    var ng_flag = 0;
    var ng_str_count_flag = 0;

    //入力チェック対象リスト　val_id=該当id、set_id=背景色変更対象id、
    //must_flg=必須項目フラグ(1で必須)、max_length=上限文字数(0はチェックしない)
    let check_object_list =
    { 1: { val_id:'#work_name',                     set_id:'work_name',                         must_flg:1, max_length:70},
      2: { val_id:'#work_planning_charge_person',   set_id:'sel_work_planning_charge_person',   must_flg:1, max_length:0},
      3: { val_id:'#management_class_cd',           set_id:'sel_management_class_cd',           must_flg:1, max_length:0},
      4: { val_id:'#work_class',                    set_id:'sel_work_class',                    must_flg:1, max_length:0},
      5: { val_id:'#work_rem',                      set_id:'work_rem',                          must_flg:0, max_length:400},
{% if level5_step_id > 136000000 %}
      6: { val_id:'#sel_work_execution_charge_person',  set_id:'sel_work_execution_charge_person',  must_flg:1, max_length:0},
{% endif %}
    };

    for (let check_index in check_object_list){
        var check_object = check_object_list[check_index];
        var check_val = $(check_object.val_id).val();
        var set_element = document.getElementById(check_object.set_id);
        var ng_element_flag = 0;

        //必須項目チェック
        if(check_object.must_flg == 1 && check_val == ""){
            set_element.style.backgroundColor = 'orange';
            ng_element_flag =  1;
            ng_flag = ng_flag + ng_element_flag;
        }

        //文字数上限チェック
        if ( check_object.max_length > 0 && count_char(check_val) > check_object.max_length){
            if(ng_element_flag == 0){
                set_element.style.backgroundColor = 'silver';
                }
            ng_str_count_flag = ng_str_count_flag + 1 ;
        }else if(ng_element_flag == 0){
            set_element.style.backgroundColor = 'white';
        }
    }
    return { 1:ng_flag , 2:ng_str_count_flag };
}

//入力項目チェック後に登録･更新処理
function input_check(a,b,d) {
    var this_step = a;
    var next_step = b;
    var action_cd = d;
    var work_id = $('#work_id').val();
    var check_result = true;
    var msg = "";
    var alert_ng_ch_msg_str = ""

    //入力チェック
    var { 1:ng_flag , 2:ng_str_count_flag } = work_common_input_check();

    //詳細仕様(自由記入)情報の入力チェック処理(from work_spec_free_edit.html)
    var { 1:free_text_alert_msg , 2:free_text_alert_msg_detail } = check_free_text_all((this_step != next_step));

    // 全て正常時のみ禁止文字チェック 注意：詳細仕様検討の一時保存時は禁止文字チェック対象外(No.740)
    var ng_all_flag = ng_flag + ng_str_count_flag + free_text_alert_msg.length;
    if ( ng_all_flag == 0 && this_step != next_step ) {
        alert_ng_ch_msg_str = check_all_ng_character("{{ div_id_name }}_ng_character_check");
        if ( alert_ng_ch_msg_str.length > 0 ) {
            ng_all_flag += 1;
        }
    }

    //正常時処理
    if( ng_all_flag == 0){
        // 中止ボタンクリック時
        if(document.getElementById("stop_work_info") != null && action_cd == "stop") {
            check_result = stop_work_cause_input_check(this_step, next_step, action_cd);
        }
        if(check_result){
            work_edit(this_step, next_step, work_id, action_cd);
        }
    }else{
        //呼び出し中に表示するgifをフェードアウト
        if($("#action_pb_loading") != null){
            $("#action_pb_loading").fadeOut();
        }
        //警告表示
        if ( ng_flag > 0 ) {
            msg += '未入力項目があります！！\n';
        }
        if ( ng_str_count_flag > 0 ) {
            msg += '文字数オーバーです！！\n';
        }
        if ( free_text_alert_msg.length > 0 ) {
            msg += free_text_alert_msg;
        }
        if ( alert_ng_ch_msg_str.length > 0 ) {
            msg += alert_ng_ch_msg_str;
        }
        if ( msg.length > 0 ) {
            alert(msg);
        }
        // アクションボタン有効化
        $(".button").prop("disabled", false);
    }
}

//工事基本初期情報(必要最低限な情報)登録･更新処理
function work_edit(this_step, next_step, work_id, action_cd) {
        var this_step = this_step;
        var next_step = next_step;
        var work_id = work_id;
        var action_cd = action_cd;
        var budget_id = $('#target_budget_id').val();
        var work_name = $('#work_name').val();
        var work_planning_charge_person = $('#work_planning_charge_person').val();
        var next_division = $('#next_division').val();
        var next_department = $('#next_department').val();
        var this_department = $('#user_department_cd').val();
        var this_division = $('#user_division_cd').val();
        var work_rev_no = $('#work_rev_no').val();
            $.ajax({
                url: "/isk_tools/fms/action/work_default_entry/",
                type: "POST",
                data : {
                    'work_id' : work_id,
                    'work_rev_no' : work_rev_no,
                    'work_name' : work_name,
                    'work_planning_charge_person' : work_planning_charge_person,
                    'budget_id' : budget_id,
                    'last_plan_id': $('#work_last_plan_id').val(),
                    'this_step': this_step,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    alert(data.msg);
                    var this_work_id = data.work_id;
                    var work_rev_no = data.rev_no;
                    $('#target_work_id').val(this_work_id);
                    $('#target_work_rev_no').val(work_rev_no);
                    $('#work_id').val(this_work_id);
                    $('#work_rev_no').val(work_rev_no);

                    //詳細仕様(自由記入)情報を登録･更新するJSを起動(work_spec_free_edit.html内にプログラム有)
                    spec_free_entry(this_work_id,next_step,this_department,this_division,budget_id,work_rev_no);

                    //詳細仕様(雛形使用)情報登録･更新するJSを起動(heat_exchange_edit2.html等(雛形分有)内にプログラム有)
                    //template_spec_entry(this_work_id,next_step,this_department,this_division,budget_id,work_rev_no);

                    //工事基本情報登録･更新をするJSを起動(このhtml内にプログラム有)
                    work_common_edit(this_work_id, this_step, next_step, action_cd);

                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    if($("#action_pb_loading") != null){
                        $("#action_pb_loading").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    }
                    alert('Error!' +textStatus+' ' +errorThrown);
                    // アクションボタン有効化
                    $(".button").prop("disabled", false);
                });
}
//工事基本情報登録･更新処理
function work_common_edit(a,b,c, action_cd) {
        var work_id = a;
        var this_step = b;
        var next_step = c;
        var action_cd = action_cd;
        var budget_id = $('#target_budget_id').val();
        var work_name = $('#work_name').val();
        var next_division = $('#next_division').val();
        var next_person_id = $('#sel_next_person').val();
        var next_department = $('#next_department').val();
        var this_department = $('#user_department_cd').val();
        var this_division = $('#user_division_cd').val();
        var comment = $('#comment').val();
        var work_rev_no = $('#work_rev_no').val();
        var work_required_function = $('#work_required_function').val();
        var work_required_function_sub_no = $('#required_function_sub_no').val();
        var work_charge_division = $('#sel_work_charge_division').val();
        var work_charge_department = $('#sel_work_charge_department').val();
        var work_charge_process = $('#sel_work_charge_process').val();
        var work_class = $('#work_class').val();
        var management_class_cd = $('#management_class_cd').val();
        var work_planning_charge_person = $('#work_planning_charge_person').val();
        var work_execution_charge_person = $('#sel_work_execution_charge_person').val();
        var work_order_department_charge_person = $('#work_order_department_charge_person').val();
        var delivery_location = $('#delivery_location').val();
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var delivery_date = $('#delivery_date').val();
        var estimate_date = "" // $('#estimate_date').val();
        var estimate_limited_date = $('#estimate_limited_date').val();
        var make_limited_date = $('#make_limited_date').val();
        var order_limited_date = $('#order_limited_date').val();
        var fixed_form = $('#sel_fixed_form').val();
        var budget_material = $('#budget_material').val();
        var work_rem =  $('#work_rem').val();

        // 以下、課題/要望No.354対応のため空文字を代入
        var estimate_range = "" // $('#estimate_range').val();
        var confidentiality = "" // $('#confidentiality').val();
        var warranty = "" // $('#warranty').val();
        var acceptance_conditions = "" // $('#acceptance_conditions').val();
        var witness_inspection = "" // $('#sel_witness_inspection').val();
        var acceptance_inspection = "" // $('#sel_acceptance_inspection').val();
        var test_run = "" // $('#sel_test_run').val();
        var test_run_pass = "" // $('#test_run_pass').val();
        var inspection_period = "" // $('#inspection_period').val();

        if ( b == c ){
            var next_person = $('#this_user').val();
            var user_attribute_id = 0;
            var complete_flag = 0;
        }else{
            var next_person = "";
            if(action_cd == "stop"){
                var user_attribute_id = 0
            }else{
                var user_attribute_id = $('#sel_next_person').val();
            }
            var complete_flag = 0;
        }
        $.ajax({
                url: "/isk_tools/fms/action/work_common_entry/",
                type: "POST",
                data : {
                    'this_step' : this_step,
                    'next_step' : next_step,
                    'next_division' : next_division,
                    'next_department' : next_department,
                    'this_division' : this_division,
                    'this_department' : this_department,
                    'next_person' : next_person,
                    'next_person_id' : next_person_id,
                    'user_attribute_id' : user_attribute_id,
                    'comment' : comment,
                    'budget_id' : budget_id,
                    'work_id' : work_id,
                    'work_name' : work_name,
                    'work_rev_no' : work_rev_no,
                    'work_required_function' : work_required_function,
                    'work_required_function_sub_no' : work_required_function_sub_no,
                    //'work_charge_division' : work_charge_division,
                    'work_charge_department' : work_charge_department,
                    'work_charge_process' : work_charge_process,
                    'work_class' : work_class,
                    'management_class_cd': management_class_cd,
                    'work_planning_charge_person' : work_planning_charge_person,
                    'work_execution_charge_person' : work_execution_charge_person,
                    'work_order_department_charge_person' : work_order_department_charge_person,
                    'delivery_location' : delivery_location,
                    'start_date' : start_date,
                    'end_date' : end_date,
                    'delivery_date' : delivery_date,
                    'estimate_date' : estimate_date,
                    'estimate_limited_date' : estimate_limited_date,
                    'make_limited_date' : make_limited_date,
                    'order_limited_date' : order_limited_date,
                    'fixed_form' : fixed_form,
                    'estimate_range': estimate_range,
                    'budget_material' : budget_material,
                    'confidentiality' : confidentiality,
                    'warranty' : warranty,
                    'acceptance_conditions' : acceptance_conditions,
                    'witness_inspection' : witness_inspection,
                    'acceptance_inspection' : acceptance_inspection,
                    'test_run' : test_run,
                    'test_run_pass' : test_run_pass,
                    'inspection_period' : inspection_period,
                    'work_rem' : work_rem,
                    'complete_flag' : complete_flag,
                    'last_plan_id': $('#work_last_plan_id').val(),
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'json',
                cache : false,
                })
                .done(function(data){
                    complete_msg = data.msg;

                    // ファイルアップロードフォームのデータからID=file_work_idを取得しその値を変更
                    $('#file_upload_form_work').find('#file_work_id')[0].value=work_id;

                    //ログ表示(工事単位)のためのJS起動(detail_template.html内にプログラム有)
                    log_list(2);

                    //工事慣例法令･支給品の表示処理
                    work_law_supplies_info();

                    //工事関連機器一覧の表示処理
                    get_work_equipment_list(budget_id, work_id);

                    if(action_cd == "stop"){
                        // 中止処理呼び出し
                        //level5_stop_page(work_id, budget_id, this_step, data.before_stop_person);
                        stop_work_cause_entry(this_step,next_step);
                        complete_msg = "以下の工事を中止しました。\n" + "工事ID:" + String(work_id) + "\n" + "工事名:" + work_name
                    }
                    //今の工程を次の工程が違う場合の処理
                    if ( this_step != next_step ){
                        $('#work_work_common_detail_action_button').empty();//操作ボタンを非表示
                    }
                    if($("#action_pb_loading") != null){
                        $("#action_pb_loading").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    }
                    alert(complete_msg);
                    // アクションボタン有効化
                    $(".button").prop("disabled", false);

                    // 予算見積作成ステップ移行メッセージ
                    if(data.check_result.complete_flag == 1){
                        if(window.confirm(data.check_result.msg)){
                            new_work_entry_complete(data.check_result.budget_id);
                        }
                    }
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    if($("#action_pb_loading") != null){
                        $("#action_pb_loading").fadeOut();//呼び出し中に表示するgifをフェードアウト
                    }
                    alert('Error!' +textStatus+' ' +errorThrown);
                    // アクションボタン有効化
                    $(".button").prop("disabled", false);
                });
}
//工事計画担当者選択を変更したときの処理
function work_planning_charge_person_change(a) {
    var value = a;
    $('#work_planning_charge_person').val(value);
}

//計画担当者リストを変更された時の更新処理
function update_work_planning_charge_person_list() {
    var budget_id = $('#target_budget_id').val();
    $.ajax({
        url: "/isk_tools/fms/action/get_planning_charge_person_user_list/",
        type: "POST",
        data : {
            'budget_id' : budget_id,
            'csrfmiddlewaretoken': "{{ csrf_token }}"
        },
        timeout: 10000,
        dataType: 'json',
        cache : false,
        })
        .done(function(data){
            var charge_person_user_id_list = data.charge_person_user_id_list;
            var charge_person_user_name_list = data.charge_person_user_name_list;

            //リストの全削除
            $('#sel_work_planning_charge_person > option').remove();
            var index = 0;
            $('#sel_work_planning_charge_person').append($('<option>').html('').val(''));
            for(var charge_person in charge_person_user_id_list) {
                var charge_person_user_id = charge_person_user_id_list[index];
                var charge_person_user_name  = charge_person_user_name_list[index];
                //リストに追加
                $('#sel_work_planning_charge_person').append($('<option>').html(charge_person_user_name).val(charge_person_user_id));
                index++;
            }
        })
       .fail(function(jqXHR,textStatus,errorThrown){
            alert('Error!' +textStatus+' ' +errorThrown);
        });
}

//工事実行担当者選択を変更したときの処理
function work_execution_charge_person_change(a) {
    var value = a;
    $('#work_execution_charge_person').val(value);
}
//工事原課担当者選択を変更したときの処理
function work_order_department_charge_person_change(a) {
    var value = a;
    $('#work_order_department_charge_person').val(value);
}
//工事区分選択(物品/工事)を変更したときの処理
function work_class_change(a) {
    var value = a;
    $('#work_class').val(value);
}
//管理区分を変更したときの処理
function management_class_change(a) {
    var value = a;
    $('#management_class_cd').val(value);
}
//工事担当部門選択を変更したときの処理
function work_charge_division_change(a) {
    var value = a;
    //$('#work_charge_division').val(value);
    var div_add_name = "work_charge_";
            $.ajax({
                url: "/isk_tools/fms/parts/input_select_division/",
                type: "POST",
                data : {
                    'div_add_name' : div_add_name,
                    'division' : value,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#work_charge_department_div').empty();
                    $('#work_charge_department_div').html(data);
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#work_charge_department_div').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}
//工事担当部署選択を変更したときの処理
function work_charge_department_change(a) {
    var value = a;
    //$('#work_charge_department').val(value);
    var div_add_name = "work_charge_";
            $.ajax({
                url: "/isk_tools/fms/parts/input_select_department/",
                type: "POST",
                data : {
                    'div_add_name' : div_add_name,
                    'department' : value,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                timeout: 10000,
                dataType: 'html',
                cache : false,
                })
                .done(function(data){
                    $('#work_charge_process_div').empty();
                    $('#work_charge_process_div').html(data);
                })
               .fail(function(jqXHR,textStatus,errorThrown){
                    $('#work_charge_process_div').empty();
                    alert('Error!' +textStatus+' ' +errorThrown);
                });
}
//工事工程選択を変更したときの処理
function work_charge_process_change(a) {
    var value = a;
    //$('#work_charge_process').val(value);
}
//操作ボタンの非表示処理
function action_button_empty() {
    $('#work_action_button').empty();
}
//機能選択のコンボボックスを変更したときに選択値と格納値を同期
function work_required_function_change(a) {
    var ary = a.split(".");
    $('#work_required_function').val(ary[0]);
    $('#required_function_sub_no').val(ary[1]);
}

function doc_save() {
    var path = $('#doc_save_path').val();
    if (path.trim() == '')
    {
        alert('パス未入力!!');
    }
    else
    {
        $.ajax({
            url: "/isk_tools/fms/action/add_document_save/",
            type: "POST",
            data : {
                'path' : path,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            timeout: 10000,
            dataType: 'html',
            cache : false,
            })
            .done(function(data){
                alert(data.msg);
            })
           .fail(function(jqXHR,textStatus,errorThrown){
                alert('ドキュメント保存 失敗!!' + ' ' +errorThrown);
            });
    }
}
function doc_read() {
    var path = $('#doc_read_path').val();
    if (path.trim() == '')
    {
        alert('パス未入力!!');
    }
    else
    {

        $.ajax({
            url: "/isk_tools/fms/action/add_document_read/",
            type: "POST",
            data : {
                'path' : path,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            timeout: 10000,
            dataType: 'html',
            cache : false,
            })
            .done(function(data){
                alert(data.msg);
            })
           .fail(function(jqXHR,textStatus,errorThrown){
                alert('ドキュメント取得 失敗!!' + ' ' +errorThrown);
            });
    }
}
//取扱い物質選択を変更したときの処理
function budget_material_change(a) {
    var value = a;
    $('#budget_material').val(value);
}
//画面表示時コンボックス同期処理
function work_display_open() {
    work_planning_charge_person_value_change();
    work_execution_charge_person_value_change();
    work_order_department_charge_person_value_change();
}
window.onload = function() {
        work_planning_charge_person_value_change();
        work_execution_charge_person_value_change();
        work_order_department_charge_person_value_change();
};
</script>
<style type="text/css">
input, textarea {
    font-size: 100%;
}
select {
    font-size: 100%;
    height:35px;
}
.datepicker {
    width:150px;;
}
div.scroll_work_div {
  width: auto;
  height: 840px;
  overflow: scroll;
}
</style>
    <div class="fms_col-sm-9 fms_col-sm-offset-3 fms_col-md-10 fms_c0l-md-offset-2 main" style="width: auto;">
        <h2 class="page-header">{{ budget_step_name }}</h2>
    </div>
    <div style="width: auto;">
    <input type="hidden" id="budget_detail_id" value="{{ budget_lists.id }}">
    <input type="hidden" id="last_operation_step" value="{{ last_operation_step }}">
    <input type="hidden" id="last_operator" value="{{ last_operator }}">
    <input type="hidden" id="charge_department_class" value="{{ charge_department_class }}">
    <input type="hidden" id="action" value="{{ action }}">
    <input type="hidden" id="action_sub" value="{{ action_sub }}">
    <input type="hidden" id="this_user" value="{{ t_username }}">
    <input type="hidden" id="work_last_plan_id" value="{{ work_data.last_plan_id  | default_if_none:''}}">
    </div>

    <div id="work_work_common_detail_action_button" style="width: auto;"></div>

    <div id="{{ div_id_name }}_ng_character_check"><!--ng_character_check ここから-->

    <div class="scroll_work_div">
        <div style="float:left;">
            <table>
                <tr>
                    <td><div><font size="4">工事ＩＤ</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="work_id" size="10" value="{{ work_id }}" readonly="readonly">※自動取得</font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">RevNO</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="work_rev_no" size="5" value="{{ rev_no }}" readonly="readonly">※自動取得</font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">工事名</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="work_name" size="38" value="{{ work_name }}"></font>　※必須</div></td>
                </tr>
                <tr>
                    <td><div><font size="4">要求機能</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="work_required_function" size="16" value="{{ required_function }}">
                        <select id="sel_work_required_function" name="sel_work_required_function" onchange="work_required_function_change(value);">
                            <option value=""></option>
                            {% for lists in required_function_lists %}
                                <option value="{{ lists.function_name }}.{{ lists.sub_no }}">{{ lists.function_name }}</option>
                            {% endfor %}
                        </select>
                        ※要求機能から選択
                    </font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">サブNO</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="required_function_sub_no" size="5" value="{{ required_function_sub_no }}" readonly="readonly"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">部門</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="work_charge_division" value="{{ work_charge_division }}">
                        <select id="sel_work_charge_division" name="sel_work_charge_division" onchange="work_charge_division_change(value);">
                                <option hidden value="{{ work_charge_division }}">{{ work_charge_division_text }}</option>
<!--                            <option value=""></option>-->
                            {% for division_lists in division_lists %}
                                <option value="{{ division_lists.division_cd }}">{{ division_lists.division_name }}</option>
                            {% endfor %}
                        </select>
                    </font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">部署</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div id ="work_charge_department_div"><font size="4">
                        <input type="hidden" id="work_charge_department" value="{{ work_charge_department }}">
                        <select id="sel_work_charge_department" name="sel_work_charge_department" onchange="work_charge_department_change(value);">
                                <option hidden value="{{ work_charge_department }}">{{ work_charge_department_text }}</option>
<!--                            <option value=""></option>-->
                            {% for department_lists in department_lists %}
                                <option value="{{ department_lists.department_cd }}">{{ department_lists.department_name }}</option>
                            {% endfor %}
                        </select>
                    </font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">設備工程</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div id ="work_charge_process_div"><font size="4">
<!--                        <input type="hidden" id="work_charge_process" value="{{ work_charge_process }}">-->
                        <select id="sel_work_charge_process" name="sel_work_charge_process" onchange="work_charge_process_change(value);">
                            <div id ="work_charge_process_div2">
                                <option hidden value="{{ work_charge_process_cd2 }}">{{ work_charge_process_cd }}:{{ work_charge_process_text }}</option>
                            {% for process_lists in process_lists %}
                                <option value="{{ process_lists.process_cd2 }}">{{ process_lists.process_cd }}:{{ process_lists.process_name }}</option>
                            {% endfor %}
                            </div>
                        </select>
                    </font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">物品/工事区分</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="work_class" size="10" value="{{ work_class }}">
                        <select id="sel_work_class" name="sel_work_class" onchange="work_class_change(value);">
                            <option value=""></option>
                            {% for work_class_lists in work_class_lists %}
                                <option value="{{ work_class_lists.work_class_cd }}">{{ work_class_lists.work_class_name }}</option>
                            {% endfor %}
                        </select>
                    </font>　※必須</div></td>
                </tr>
                <tr>
                    <td><div><font size="4">管理区分</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="management_class_cd" size="10" value="{{ management_class_cd }}">
                        <select id="sel_management_class_cd" name="sel_management_class_cd"
                                onchange="management_class_change(value);">
                            <option value="" ></option>
                            {% for management_class_list in management_class_list %}
                                <option value="{{ management_class_list.management_class_cd }}">{{ management_class_list.management_class_name }}</option>
                            {% endfor %}
                        </select>
                    </font>　※必須</div></td>
                </tr>
                <tr>
                    <td><div><font size="4">計画担当者</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="work_planning_charge_person" size="10" value="{{ work_planning_charge_person }}">
                        <select id="sel_work_planning_charge_person" name="sel_work_planning_charge_person" onchange="work_planning_charge_person_change(value);">
                            <option value=""></option>
                            {% for work_planning_charge_person_lists in work_planning_charge_person_lists %}
                                <option value="{{ work_planning_charge_person_lists.username }}">{{ work_planning_charge_person_lists.last_name }}　{{ work_planning_charge_person_lists.first_name }}</option>
                            {% endfor %}
                        </select>
                    </font>　※必須</div></td>
                </tr>
                <tr>
                    <td><div><font size="4">実行担当者</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <select id="sel_work_execution_charge_person" name="sel_work_execution_charge_person">
                                <option hidden value=""></option>
                        {% for work_execute_charge_person_item in work_execute_charge_person_lists %}
                            {% if work_execute_charge_person_item.username == work_execution_charge_person %}
                                <option value="{{ work_execute_charge_person_item.username }}" selected>{{ work_execute_charge_person_item.full_name}}</option>
                            {% else %}
                                <option value="{{ work_execute_charge_person_item.username }}">{{ work_execute_charge_person_item.full_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </font>{% if level5_step_id > 136000000 %}　※必須{% endif %}</div></td>
                </tr>
                <tr>
                    <td><div><font size="4">原課担当者</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4">
                        <input type="hidden" id="work_order_department_charge_person" value="{{ work_order_department_charge_person }}">
                        <select id="sel_work_order_department_charge_person" name="sel_work_order_department_charge_person" onchange="work_order_department_charge_person_change(value);">
                            <option hidden value=""></option>
                            {% for work_order_department_charge_person_item in work_order_department_charge_person_lists %}
                                <option value="{{ work_order_department_charge_person_item.username }}">{{ work_order_department_charge_person_item.full_name }}</option>
                            {% endfor %}
                        </select>
                    </font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">場所・設備</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="delivery_location" value="{{ delivery_location }}"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">希望工期</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="start_date" class="datepicker" value="{{ start_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('start_date');"> ～ <input type="text" id="end_date" class="datepicker" value="{{ end_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('end_date');"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">希望納期日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="delivery_date" class="datepicker" value="{{ delivery_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('delivery_date');"></font></div></td>
                </tr>
<!--                <tr>-->
<!--                    <td><div><font size="4">見積提出希望日</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><input type="text" id="estimate_date" class="datepicker" value="{{ estimate_date }}" autocomplete="off" readonly></font></div></td>-->
<!--                </tr>-->
                <tr>
                    <td><div><font size="4">見積提出期日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="estimate_limited_date" class="datepicker" value="{{ estimate_limited_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('estimate_limited_date');"></font></div></td>
                </tr>
                {% if is_mplan_flag %}
                <input type="hidden" id="make_limited_date" value="{{ make_limited_date }}">
                {% else %}
                <tr>
                    <td><div><font size="4">本仕様書作成期日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="make_limited_date" class="datepicker" value="{{ make_limited_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('make_limited_date');"></font></div></td>
                </tr>
                {% endif %}
                <tr>
                    <td><div><font size="4">発注期日</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><input type="text" id="order_limited_date" class="datepicker" value="{{ order_limited_date }}" autocomplete="off" readonly><input type="button" class="date_clear_button" value="クリア" onclick="date_clear('order_limited_date');"></font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">定型/非定型</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="3">
                        <select id="sel_fixed_form" name="sel_fixed_form">
                            <option value=""></option>
                            {% if fixed_form == "定型" %}
                                <option value="定型" selected>定型</option>
                                <option value="非定型">非定型</option>
                            {% elif fixed_form == "非定型" %}
                                <option value="定型">定型</option>
                                <option value="非定型" selected>非定型</option>
                            {% else %}
                                <option value="定型">定型</option>
                                <option value="非定型">非定型</option>
                            {% endif %}
                        </select>
                    </font></div></td>
                </tr>
            </table>
        </div>
        <div style="float:left;width:10px;" >　</div>
        <div style="float:left;" >
        <!--FileUploadForm        -->
            <form id="file_upload_form_{{ div_id_name }}" name="file_upload_form_{{ div_id_name }}" action="/isk_tools/fms/action/file_upload/" method="POST" enctype="multipart/form-data">
            <table>
<!--                課題/要望No.354対応のため非表示 今後復活の可能性は0ではない-->
<!--                <tr>-->
<!--                    <td><div><font size="4">見積範囲</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="estimate_range" rows="3" cols="45">{{ estimate_range }}</textarea></font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">秘密保持条件</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="confidentiality" name="confidentiality" rows="3" cols="45" >{{confidentiality}}</textarea></font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">瑕疵担保責任</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="warranty" name="warranty" rows="3" cols="45" >{{warranty}}</textarea></font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">検収条件</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="acceptance_conditions" name="acceptance_conditions" rows="3" cols="45" >{{acceptance_conditions}}</textarea></font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">立会検査有無</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="3">-->
<!--                        <select id="sel_witness_inspection" name="sel_witness_inspection">-->
<!--                            <option value=""></option>-->
<!--                            {% if witness_inspection == 1 %}-->
<!--                                <option value=1 selected>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% elif witness_inspection == 0 %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0 selected>無</option>-->
<!--                            {% else %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% endif %}-->
<!--                        </select>-->
<!--                    </font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">受入検査有無</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="3">-->
<!--                        <select id="sel_acceptance_inspection" name="sel_acceptance_inspection">-->
<!--                            <option value=""></option>-->
<!--                            {% if acceptance_inspection == 1 %}-->
<!--                                <option value=1 selected>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% elif acceptance_inspection == 0 %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0 selected>無</option>-->
<!--                            {% else %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% endif %}-->
<!--                        </select>-->
<!--                    </font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">試運転有無</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="3">-->
<!--                        <select id="sel_test_run" name="sel_test_run">-->
<!--                            <option value=""></option>-->
<!--                            {% if test_run == 1 %}-->
<!--                                <option value=1 selected>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% elif test_run == 0 %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0 selected>無</option>-->
<!--                            {% else %}-->
<!--                                <option value=1>有</option>-->
<!--                                <option value=0>無</option>-->
<!--                            {% endif %}-->
<!--                        </select>-->
<!--                    </font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">試運転の合格基準</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="test_run_pass" name="test_run_pass" rows="3" cols="45" >{{test_run_pass}}</textarea></font></div></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><div><font size="4">検査の期間</font></div></td>-->
<!--                    <td><div><font size="4">：　</font></div></td>-->
<!--                    <td><div><font size="4"><textarea id="inspection_period" name="inspection_period" rows="3" cols="45" >{{inspection_period}}</textarea></font></div></td>-->
<!--                </tr>-->
                <tr>
                    <td><div><font size="4">備考</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><div><font size="4"><textarea id="work_rem" name="work_rem" rows="10" cols="45">{{ work_rem }}</textarea></font></div></td>
                </tr>
                <tr>
                    <td><div> </div></td>
                    <td><div>　</div></td>
                    <td><div><font size="3">※ここは印刷されません</font></div></td>
                </tr>
                <tr>
                    <td><div><font size="4">ドキュメントURL</font></div></td>
                    <td><div><font size="4">：　</font></div></td>
                    <td><input type="file" id="specification_data" name="specification_data"></td>
                </tr>
            </table>
            <input type="hidden" id="file_target" name="file_target" value="{{ target }}">
            <input type="hidden" id="file_budget_id" name="file_budget_id" value="{{ target_budget_id }}">
            <input type="hidden" id="file_work_id" name="file_work_id" value="{{ target_work_id }}">
            <input type="hidden" id="div_id_name" name="div_id_name" value="{{ div_id_name }}">
            {% csrf_token %}
            <input type="button" value=" 格納 " onclick="file_upload('{{ div_id_name }}');">
            </form><br>
        <!--FileUploadForm        -->
        <!--UploadFileList        -->
            <div id="upload_file_list_{{ div_id_name }}"></div>
        <!--UploadFileList        -->
        </div>
    </div>
<!--scroll_work_div-->

    </div><!--ng_character_checkここまで-->
