<script>
//予算一覧から選択された予算データの詳細の表示処理
function cs_detail(a,b,c,d,e) {   //a:cs_unique_id, b:cs_no, c:budget_id, d:budget_id_edit_flg, e:this_step
    if (e == 999999999) {
        alert('工程完了の情報は「MotionBoard」で確認してください！！');
    }else{
        var user_division_cd = $('#user_division_cd').val();
        var user_department_cd = $('#user_department_cd').val();
        var user_authority = $('#user_authority').val();
        var confirm_user = $('#confirm_user').val();
        var permit_user = $('#permit_user').val();
        var level5_step_id = $('#level5_step_id').val();
        var new_step = Number(level5_step_id) + 1
        $('<form/>', {action: '/isk_tools/fms/parts/check_sheet/cs_detail_template/', method: 'post'})
        .append($('<input/>', {type: 'hidden', name: 'cs_unique_id', value: a}))
        .append($('<input/>', {type: 'hidden', name: 'cs_no', value: b}))
        .append($('<input/>', {type: 'hidden', name: 'budget_id', value: c}))
        .append($('<input/>', {type: 'hidden', name: 'budget_id_edit_flg', value: d}))
        .append($('<input/>', {type: 'hidden', name: 'target', value: 'cs'}))
        .append($('<input/>', {type: 'hidden', name: 'this_step', value: e}))
        .append($('<input/>', {type: 'hidden', name: 'new_step', value: new_step}))
        .append($('<input/>', {type: 'hidden', name: 'user_division_cd', value: user_division_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_department_cd', value: user_department_cd}))
        .append($('<input/>', {type: 'hidden', name: 'user_authority', value: user_authority}))
        .append($('<input/>', {type: 'hidden', name: 'confirm_user', value: confirm_user}))
        .append($('<input/>', {type: 'hidden', name: 'permit_user', value: permit_user}))
        .append($('<input/>', {type: 'hidden', name: 'level5_step_id', value: level5_step_id}))
        .append($('<input/>', {type: 'hidden', name: 'select_tab', value: 0}))
        .append($('<input/>', {type: 'hidden', name: 'csrfmiddlewaretoken', value: '{{ csrf_token }}'}))
        .appendTo(document.body)
        .submit();
    }
}
</script>
<style type="text/css">
thead.scrollHead,tbody.scrollBody{
    display:block;
}
tbody.scrollBody{
    overflow-y:scroll;
    height:500px;
}
td,th{
    table-layout:fixed;
}
.detail_pb{
    width:57px;
    font-size: 120%;
    padding: 7px 0px;
    text-align: center;
}
.return_flag{
    width:55px;
    font-size: 120%;
    padding: 7px 0px;
}
.id{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.cs_no{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.budget_id{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.budget_no{
    width:120px;
    font-size: 120%;
    padding: 7px 0px;
}
.business_year{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.budget_name{
    width:350px;
    font-size: 120%;
    padding: 7px 0px;
}
/*
.work_id{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
*/
.condition{
    width:200px;
    font-size: 120%;
    padding: 7px 0px;
}
.department_name{
    width:200px;
    font-size: 120%;
    padding: 7px 0px;
}
.present_operator{
    width:150px;
    font-size: 120%;
    padding: 7px 0px;
}
.entry_on_progress_flag{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.entry_datetime{
    width:200px;
    font-size: 120%;
    padding: 7px 0px;
}
.entry_operator{
    width:100px;
    font-size: 120%;
    padding: 7px 0px;
}
.update_datetime{
    width:200px;
    font-size: 120%;
    padding: 7px 0px;
}
.update_operator{
    width: 150px;
    font-size: 120%;
    padding: 7px 0px;
}
.days_stay{
    width:80px;
    font-size: 120%;
    padding: 7px 0px;
}
.note{
    width:240px;
    font-size: 120%;
    padding: 7px 0px;
}
.hold_flag{
    width:60px;
    font-size: 120%;
    padding: 7px 0px;
}
tr:nth-child(2n+1) {
    background: #DDDDDD;
}
</style>

        {% if cs_lists_num > 0 %}
            表示件数：{{ cs_lists_num }}件

            <table class="table table-strriped" border="1" cellspacing="0" cellpadding="5" bordercolor="#000000" style="border-collapse: collapse">
                <thead class="scrollHead">
                    <tr>
                        <th class="detail_pb"></th>
                        <th class="return_flag">差戻</th>
                        <th class="cs_no">CS_NO</th>
                        <th class="budget_id">予算ID</th>
                        <th class="budget_no">予算No</th>
                        <th class="business_year">年度</th>
                        <th class="budget_name">予算名</th>
                        <th class="condition">状態</th>
                        <th class="department_name">部署</th>
                        <th class="present_operator">次作業者</th>
                        <th class="days_stay">滞留日数</th>
                        <th class="note">備考</th>
                        <th class="hold_flag">保留</th>
                    </tr>
                </thead>
                <tbody class="scrollBody">
                {% for cs_lists in cs_lists %}
                    <tr>
                        <td class="detail_pb">
                            <a href="#" id="{{ cs_lists.id }}" class="detailpb"
                               onclick="cs_detail(id,{{ cs_lists.cs_no }},{{ cs_lists.budget_id }},
                               0,{{ cs_lists.present_step }});">詳細</a>
                        </td>
                        {% if cs_lists.return_flag == 1  %}
                            <td class="return_flag"><font color="yellow" style="background-color:red; font-weight:bold">
                                差戻
                            </font></td>
                        {% else %}
                            <td class="return_flag"></td>
                        {% endif %}
                        <td class="cs_no">{{ cs_lists.cs_no }}</td>
                        <td class="budget_id">{{ cs_lists.budget_id }}</td>
                        <td class="budget_no">{% if cs_lists.budget_no is not None %}{{ cs_lists.budget_no }}{% endif %}</td>
                        <td class="business_year">{{ cs_lists.business_year }}</td>
                        <td class="budget_name">{{ cs_lists.budget_name }}</td>
                        <td class="condition">{{ cs_lists.step_name }}</td>
                        <td class="department_name">{{ cs_lists.department_name }}</td>
                        <td class="present_operator">{% if cs_lists.present_step > 134003000 and cs_lists.present_step < 134004000 %} {% else %}{{ cs_lists.last_name }}　{{ cs_lists.first_name }}{% endif %}</td>
                        {% if cs_lists.days_stay == None %}
                            <td class="days_stay"></td>
                        {% else %}
                            <td class="days_stay">{{ cs_lists.days_stay }}</td>
                        {% endif %}
                        <td class="note">{{ cs_lists.note }}</td>
                        {% if cs_lists.hold_flag == 1 %}
                            <td class="hold_flag">保留</td>
                        {% else %}
                            <td class="hold_flag"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}

            <div>対象データなし</div>

        {% endif %}