<style type="text/css">
div.scroll_material_div {
  width: 450px;
  height: 830px;
  overflow: scroll;
}
</style>

            <div><h2 class="page-header">取扱物質</h2></div>
            <div class="scroll_material_div" style="float: left;">
                <table>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">取扱物質</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.material_name | default_if_none:''  }}</font>
                            {% elif budget_material_data.material_name == old_budget_material_data.material_name %}
                                <font size="5" color="black">{{ budget_material_data.material_name | default_if_none:''  }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.material_name | default_if_none:''  }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">化学式</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.chemical_formula | default_if_none:'' }}</font>
                            {% elif budget_material_data.chemical_formula == old_budget_material_data.chemical_formula %}
                                <font size="5" color="black">{{ budget_material_data.chemical_formula | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.chemical_formula | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">サブNo</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.sub_no | default_if_none:'' }}</font>
                            {% elif budget_material_data.sub_no == old_budget_material_data.sub_no %}
                                <font size="5" color="black">{{ budget_material_data.sub_no | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.sub_no | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">状態</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.state | default_if_none:'' }}</font>
                            {% elif budget_material_data.state == old_budget_material_data.state %}
                                <font size="5" color="black">{{ budget_material_data.state | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.state | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">通常圧力</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_normal_pressure | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_normal_pressure == old_budget_material_data.str_normal_pressure %}
                                <font size="5" color="black">{{ budget_material_data.str_normal_pressure | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_normal_pressure | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">最高圧力</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.maximum_pressure | default_if_none:'' }}</font>
                            {% elif budget_material_data.maximum_pressure == old_budget_material_data.maximum_pressure %}
                                <font size="5" color="black">{{ budget_material_data.maximum_pressure | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.maximum_pressure | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">最低圧力</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.minimum_pressure | default_if_none:'' }}</font>
                            {% elif budget_material_data.minimum_pressure == old_budget_material_data.minimum_pressure %}
                                <font size="5" color="black">{{ budget_material_data.minimum_pressure | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.minimum_pressure | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">圧力単位</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.pressure_unit | default_if_none:'' }}</font>
                            {% elif budget_material_data.pressure_unit == old_budget_material_data.pressure_unit %}
                                <font size="5" color="black">{{ budget_material_data.pressure_unit | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.pressure_unit | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">通常温度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_normal_temperature | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_normal_temperature == old_budget_material_data.str_normal_temperature %}
                                <font size="5" color="black">{{ budget_material_data.str_normal_temperature | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_normal_temperature | default_if_none:'' }}</font>
                            {% endif %}
                            {% if budget_material_data.str_normal_temperature != None %}
                                <font size="5" color="black">℃</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">最高温度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.maximum_temperature | default_if_none:'' }}</font>
                            {% elif budget_material_data.maximum_temperature == old_budget_material_data.maximum_temperature %}
                                <font size="5" color="black">{{ budget_material_data.maximum_temperature | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.maximum_temperature | default_if_none:'' }}</font>
                            {% endif %}
                            {% if budget_material_data.maximum_temperature != None %}
                                <font size="5" color="black">℃</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">最低温度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.minimum_temperature | default_if_none:'' }}</font>
                            {% elif budget_material_data.minimum_temperature == old_budget_material_data.minimum_temperature %}
                                <font size="5" color="black">{{ budget_material_data.minimum_temperature | default_if_none:'' }}</font>
                            {% else %}maximum_temperature
                                <font size="5" color="red">{{ budget_material_data.minimum_temperature | default_if_none:'' }}</font>
                            {% endif %}
                            {% if budget_material_data.minimum_temperature != None %}
                                <font size="5" color="black">℃</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">濃度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.concentration | default_if_none:'' }}</font>
                            {% elif budget_material_data.concentration == old_budget_material_data.concentration %}
                                <font size="5" color="black">{{ budget_material_data.concentration | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.concentration | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">濃度単位</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.concentration_unit | default_if_none:'' }}</font>
                            {% elif budget_material_data.concentration_unit == old_budget_material_data.concentration_unit %}
                                <font size="5" color="black">{{ budget_material_data.concentration_unit | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.concentration_unit | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">pH</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_ph | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_ph == old_budget_material_data.str_ph %}
                                <font size="5" color="black">{{ budget_material_data.str_ph | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_ph | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">粘度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.viscosity | default_if_none:'' }}</font>
                            {% elif budget_material_data.viscosity == old_budget_material_data.viscosity %}
                                <font size="5" color="black">{{ budget_material_data.viscosity | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.viscosity | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">嵩密度</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_bulk_specific_gravity | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_bulk_specific_gravity == old_budget_material_data.str_bulk_specific_gravity %}
                                <font size="5" color="black">{{ budget_material_data.str_bulk_specific_gravity | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_bulk_specific_gravity | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">真比重</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_true_specific_gravity | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_true_specific_gravity == old_budget_material_data.str_true_specific_gravity %}
                                <font size="5" color="black">{{ budget_material_data.str_true_specific_gravity | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_true_specific_gravity | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">見掛比重</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_apparent_specific_gravity | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_apparent_specific_gravity == old_budget_material_data.str_apparent_specific_gravity %}
                                <font size="5" color="black">{{ budget_material_data.str_apparent_specific_gravity | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_apparent_specific_gravity | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">粒径</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_particle_size | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_particle_size == old_budget_material_data.str_particle_size %}
                                <font size="5" color="black">{{ budget_material_data.str_particle_size | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_particle_size | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">水分</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div style="padding: 5px 0px;">
                            {% if old_budget_material_data_num == 0 %}
                                <font size="5" color="black">{{ budget_material_data.str_moisture | default_if_none:'' }}</font>
                            {% elif budget_material_data.str_moisture == old_budget_material_data.str_moisture %}
                                <font size="5" color="black">{{ budget_material_data.str_moisture | default_if_none:'' }}</font>
                            {% else %}
                                <font size="5" color="red">{{ budget_material_data.str_moisture | default_if_none:'' }}</font>
                            {% endif %}
                        </div></td>
                    </tr>
                    <tr>
                        <td><div><font size="4" style="padding: 5px 0px;">その他</font></div></td>
                        <td><div><font size="4" style="padding: 5px 0px;">：　</font></div></td>
                        <td><div>
                            {% if old_budget_material_data_num == 0 %}
                                <font size="4" color="black"><textarea class="textarea" name="required_others" rows="5" cols="25" style="color:black;" readonly>{{ budget_material_data.others | default_if_none:'' }}</textarea></font>
                            {% elif budget_material_data.others == old_budget_material_data.others %}
                                <font size="4" color="black"><textarea class="textarea" name="required_others" rows="5" cols="25" style="color:black;" readonly>{{ budget_material_data.others | default_if_none:'' }}</textarea></font>
                            {% else %}
                                <font size="4" color="red"><textarea class="textarea" name="required_others" rows="5" cols="25" style="color:red;" readonly>{{ budget_material_data.others | default_if_none:'' }}</textarea></font>
                            {% endif %}
                        </div></td>
                    </tr>
                </table>
            </div>
            <div style="float: left;">
                <div id="handling_material_lists" style="width: auto;">
                        取扱物質リスト
                </div>
            </div>